Repository woowacourse-teams/2022-gong-check, pull requests merged in 2022-07, with the labels that each got.

#3 [BE] 백엔드 프로젝트 환경설정을 세팅한다
  backend/gong-check/.gitignore
  backend/gong-check/build.gradle
  backend/gong-check/gradle/wrapper/gradle-wrapper.jar
  backend/gong-check/gradle/wrapper/gradle-wrapper.properties
  backend/gong-check/gradlew
  backend/gong-check/gradlew.bat
  backend/gong-check/settings.gradle
  backend/gong-check/src/main/java/com/woowacourse/gongcheck/GongCheckApplication.java
  backend/gong-check/src/main/resources/application.yml
  backend/gong-check/src/test/java/com/woowacourse/gongcheck/GongCheckApplicationTests.java
  backend/gong-check/src/test/resources/application.yml
Labels: setting

#6 [FE] 리액트 기반 환경설정을 한다.
  frontend/.eslintrc.json
  frontend/.gitignore
  frontend/.prettierrc.json
  frontend/babel.config.json
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/index.tsx
  frontend/tsconfig.json
  frontend/webpack.config.js
Labels: setting

#7 [BE] 초기 Entity를 구성한다.
  backend/.gitignore
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/settings.gradle
  backend/src/main/java/com/woowacourse/gongcheck/GongCheckApplication.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/job/Job.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/job/JobRepository.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/member/Member.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/member/MemberRepository.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/section/Section.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/section/SectionRepository.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/space/Space.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/space/SpaceRepository.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/submission/Submission.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/submission/SubmissionRepository.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/task/RunningTask.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/task/RunningTaskRepository.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/task/Task.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/task/TaskRepository.java
  backend/src/main/resources/application.yml
  backend/src/main/resources/schema.sql
  backend/src/test/java/com/woowacourse/gongcheck/GongCheckApplicationTests.java
  backend/src/test/resources/application.yml
  backend/src/test/resources/schema.sql
Labels: feature

#11 [BE] 인수테스트, 문서화테스트 환경을 세팅한다.
  backend/build.gradle
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/DocumentationTest.java
Labels: setting, test

#17 [FE] 페이지 라우팅을 적용한다.
  .gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/Routes.tsx
  frontend/src/index.tsx
  frontend/src/pages/JobList/index.tsx
  frontend/src/pages/SpaceList/index.tsx
  frontend/src/pages/TaskList/index.tsx
  frontend/webpack.config.js
Labels: setting, feature

#21 [ALL] root 디랙토리를 관리하는 gitignore를 수정한다.
  .gitignore
Labels: setting

#22 [FE] 헤더 UI를 구현한다.
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/Header/index.tsx
  frontend/src/components/Header/styles.ts
  frontend/src/index.tsx
  frontend/tsconfig.json
Labels: feature, UI/UX

#26 [FE] 공간 선택 페이지 UI를 구현한다.
  frontend/src/App.tsx
  frontend/src/pages/SpaceList/index.tsx
  frontend/src/pages/SpaceList/styles.ts
Labels: feature, UI/UX

#34 [FE] 체크 리스트 페이지 UI를 구현한다.
  frontend/src/components/Header/index.tsx
  frontend/src/components/Header/styles.ts
  frontend/src/components/JobCard/styles.ts
  frontend/src/components/TaskCard/index.tsx
  frontend/src/components/TaskCard/styles.ts
  frontend/src/components/_common/Checkbox/index.tsx
  frontend/src/components/_common/Checkbox/styles.ts
  frontend/src/pages/TaskList/index.tsx
  frontend/src/pages/TaskList/styles.ts
Labels: feature, UI/UX

#46 [BE] 공간 작업의 새로운 진행작업을 추가하는 API를 구현한다.
  backend/src/main/java/com/woowacourse/gongcheck/application/TaskService.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/job/JobRepository.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/task/RunningTask.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/task/RunningTaskRepository.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/task/Task.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/task/TaskRepository.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/task/Tasks.java
  backend/src/main/java/com/woowacourse/gongcheck/exception/BusinessException.java
  backend/src/main/java/com/woowacourse/gongcheck/exception/ControllerAdvice.java
  backend/src/main/java/com/woowacourse/gongcheck/presentation/TaskController.java
  backend/src/main/resources/data.sql
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/TaskAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/application/TaskServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/DocumentationTest.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/TaskDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/domain/job/JobRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongcheck/domain/task/RunningTaskRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongcheck/domain/task/TaskRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongcheck/domain/task/TaskTest.java
  backend/src/test/java/com/woowacourse/gongcheck/fixture/FixtureFactory.java
  backend/src/test/java/com/woowacourse/gongcheck/presentation/ControllerTest.java
  backend/src/test/java/com/woowacourse/gongcheck/presentation/TaskControllerTest.java
Labels: feature, guest

#49 [BE] Member객체를 Host로 네이밍 전환한다.
  backend/src/main/java/com/woowacourse/gongcheck/application/GuestAuthService.java
  backend/src/main/java/com/woowacourse/gongcheck/application/JobService.java
  backend/src/main/java/com/woowacourse/gongcheck/application/SpaceService.java
  backend/src/main/java/com/woowacourse/gongcheck/application/TaskService.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/host/Host.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/host/HostRepository.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/job/JobRepository.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/member/MemberRepository.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/space/Space.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/space/SpaceRepository.java
  backend/src/main/resources/data.sql
  backend/src/main/resources/schema.sql
  backend/src/test/java/com/woowacourse/gongcheck/application/GuestAuthServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/application/JobServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/application/SpaceServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/application/TaskServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/JobDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/SpaceDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/domain/host/HostTest.java
  backend/src/test/java/com/woowacourse/gongcheck/domain/job/JobRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongcheck/domain/space/SpaceRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongcheck/domain/task/RunningTaskRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongcheck/domain/task/TaskRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongcheck/fixture/FixtureFactory.java
  backend/src/test/resources/schema.sql
Labels: feature, backend

#51 [BE] @Getter 어노테이션을 적용한다.
  backend/src/main/java/com/woowacourse/gongcheck/application/response/GuestTokenResponse.java
  backend/src/main/java/com/woowacourse/gongcheck/exception/ErrorResponse.java
  backend/src/main/java/com/woowacourse/gongcheck/presentation/request/GuestEnterRequest.java
Labels: feature, backend

#52 [BE] 테스트 픽스쳐 네이밍을 실제 데이터와 비슷하도록 수정한다
  backend/src/test/java/com/woowacourse/gongcheck/application/SpaceServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/SpaceDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/domain/space/SpaceRepositoryTest.java
Labels: test, backend

#56 [FE] 페이지 이동 기능 구현하기
  frontend/src/App.tsx
  frontend/src/Routes.tsx
  frontend/src/components/Header/index.tsx
  frontend/src/components/JobCard/index.tsx
  frontend/src/components/SpaceCard/index.tsx
  frontend/src/components/_common/Checkbox/index.tsx
  frontend/src/pages/JobList/index.tsx
  frontend/src/pages/SpaceList/index.tsx
Labels: feature, frontend

#58 [FE] emotion 사용에서 GlobalStyle + ThemeProvider 적용한다.
  frontend/src/App.tsx
  frontend/src/components/Header/styles.ts
  frontend/src/components/JobCard/styles.ts
  frontend/src/components/SpaceCard/styles.ts
  frontend/src/components/TaskCard/styles.ts
  frontend/src/components/_common/Button/index.tsx
  frontend/src/components/_common/CardTitle/index.tsx
  frontend/src/components/_common/Checkbox/styles.ts
  frontend/src/index.tsx
  frontend/src/pages/JobList/styles.ts
  frontend/src/pages/SpaceList/styles.ts
  frontend/src/pages/TaskList/styles.ts
  frontend/src/styles/global.ts
  frontend/src/styles/theme.ts
Labels: feature, UI/UX, frontend

#63 FE] Modal 컴포넌트를 구현한다.
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/ModalPortal.tsx
  frontend/src/components/InputModal/index.tsx
  frontend/src/components/InputModal/styles.ts
  frontend/src/components/ModalPortal/index.tsx
  frontend/src/components/_common/Dimmer/index.tsx
  frontend/src/components/_common/Input/index.tsx
  frontend/src/hooks/useModal.ts
  frontend/src/pages/SpaceList/index.tsx
  frontend/src/pages/TaskList/index.tsx
  frontend/src/styles/global.ts
  frontend/src/styles/theme.ts
Labels: feature, UI/UX, frontend

#59 [BE] 진행 중인 작업이 있는지 확인할 수 있는 API를 만든다
  backend/src/main/java/com/woowacourse/gongcheck/application/TaskService.java
  backend/src/main/java/com/woowacourse/gongcheck/application/response/JobActiveResponse.java
  backend/src/main/java/com/woowacourse/gongcheck/presentation/TaskController.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/TaskAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/application/TaskServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/TaskDocumentation.java
Labels: feature, guest, backend

#66 [FE] 헤더에 로고 이미지를 노출시킨다.
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/logoTItle.svg
  frontend/src/components/Header/index.tsx
  frontend/src/components/Header/styles.ts
  frontend/src/components/ModalPortal/index.tsx
  frontend/src/components/_common/PageTitle/index.tsx
  frontend/src/global.d.ts
  frontend/src/hooks/useModal.ts
  frontend/src/styles/global.ts
  frontend/tsconfig.json
  frontend/webpack.config.js
Labels: feature, UI/UX, frontend

#62 [BE] 진행중인 작업을 체크하는 API를 구현한다.
  backend/src/main/java/com/woowacourse/gongcheck/application/TaskService.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/task/RunningTask.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/task/RunningTaskRepository.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/task/TaskRepository.java
  backend/src/main/java/com/woowacourse/gongcheck/presentation/TaskController.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/TaskAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/application/TaskServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/TaskDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/domain/task/RunningTaskRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongcheck/domain/task/RunningTaskTest.java
  backend/src/test/java/com/woowacourse/gongcheck/domain/task/TaskRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongcheck/fixture/FixtureFactory.java
  backend/src/test/java/com/woowacourse/gongcheck/presentation/TaskControllerTest.java
Labels: feature, guest, backend

#68 [FE] import 경로를 깔끔하게 관리한다.
  frontend/.prettierrc.json
  frontend/babel.config.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/Routes.tsx
  frontend/src/components/Header/index.tsx
  frontend/src/components/Header/styles.ts
  frontend/src/components/InputModal/index.tsx
  frontend/src/components/InputModal/styles.ts
  frontend/src/components/JobCard/index.tsx
  frontend/src/components/JobCard/styles.ts
  frontend/src/components/SpaceCard/index.tsx
  frontend/src/components/SpaceCard/styles.ts
  frontend/src/components/TaskCard/index.tsx
  frontend/src/components/TaskCard/styles.ts
  frontend/src/components/_common/Button/index.tsx
  frontend/src/components/_common/CardTitle/index.tsx
  frontend/src/components/_common/Checkbox/styles.ts
  frontend/src/components/_common/Dimmer/index.tsx
  frontend/src/components/_common/Input/index.tsx
  frontend/src/index.tsx
  frontend/src/pages/JobList/index.tsx
  frontend/src/pages/SpaceList/index.tsx
  frontend/src/pages/TaskList/index.tsx
  frontend/tsconfig.json
Labels: setting, feature, frontend

#64 [BE] 진행중인 작업을 조회하는 API를 구현한다.
  backend/src/main/java/com/woowacourse/gongcheck/application/TaskService.java
  backend/src/main/java/com/woowacourse/gongcheck/application/response/RunningTaskResponse.java
  backend/src/main/java/com/woowacourse/gongcheck/application/response/RunningTasksResponse.java
  backend/src/main/java/com/woowacourse/gongcheck/application/response/RunningTasksWithSectionResponse.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/task/RunningTask.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/task/Task.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/task/TaskRepository.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/task/Tasks.java
  backend/src/main/java/com/woowacourse/gongcheck/presentation/TaskController.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/TaskAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/application/TaskServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/TaskDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/fixture/FixtureFactory.java
  backend/src/test/java/com/woowacourse/gongcheck/presentation/TaskControllerTest.java
Labels: feature, guest, backend

#71 [FE] API 호출 방식을 설계한다.
  frontend/package-lock.json
  frontend/package.json
  frontend/src/apis/index.ts
  frontend/tsconfig.json
Labels: feature, frontend

#74 [FE] 공간 입장 API를 연동한다.
  frontend/src/Routes.tsx
  frontend/src/components/InputModal/index.tsx
  frontend/src/hooks/useModal.ts
  frontend/src/pages/SpaceList/index.tsx
Labels: feature, frontend

#75 [FE] 공간 목록 불러오기 API를 연동한다.
  frontend/.prettierrc.json
  frontend/src/apis/index.ts
  frontend/src/components/InputModal/index.tsx
  frontend/src/pages/SpaceList/index.tsx
  frontend/tsconfig.json
Labels: feature, frontend

#61 [BE] 제출하기 API 를 구현한다.
  backend/src/main/java/com/woowacourse/gongcheck/application/SubmissionService.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/job/Job.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/task/RunningTasks.java
  backend/src/main/java/com/woowacourse/gongcheck/presentation/SubmissionController.java
  backend/src/main/java/com/woowacourse/gongcheck/presentation/request/SubmissionRequest.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/SubmissionAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/application/SubmissionServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/application/TaskServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/DocumentationTest.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/SubmissionDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/TaskDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/domain/task/RunningTaskRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongcheck/domain/task/RunningTasksTest.java
  backend/src/test/java/com/woowacourse/gongcheck/fixture/FixtureFactory.java
  backend/src/test/java/com/woowacourse/gongcheck/presentation/ControllerTest.java
  backend/src/test/java/com/woowacourse/gongcheck/presentation/SubmissionControllerTest.java
Labels: feature, guest, backend

#76 [FE] 업무 목록 불러오기 API를 연동한다.
  frontend/src/components/InputModal/index.tsx
  frontend/src/pages/JobList/index.tsx
Labels: feature, frontend

#77 [BE] 로컬환경을 위한 CORS에 대한 권한을 해제한다.
  backend/src/main/java/com/woowacourse/gongcheck/config/WebConfig.java
  backend/src/main/java/com/woowacourse/gongcheck/presentation/AuthenticationInterceptor.java
Labels: feature, backend

#78 [FE] 작업 목록 관련 API를 연동한다.
  frontend/src/components/JobCard/index.tsx
  frontend/src/components/TaskCard/index.tsx
  frontend/src/pages/TaskList/index.tsx
Labels: feature, frontend

#86 [BE] 테스트용 데이터 스크립트와 데모데이 시연용 더미 데이터 스크립트 분리
  backend/src/main/resources/application.yml
  backend/src/main/resources/dummy_data.sql
  backend/src/test/resources/data.sql
Labels: feature, backend

#87 [FE] 장소 이미지 URL을 받아오기위한 변수명 수정
  frontend/src/components/SpaceCard/index.tsx
  frontend/src/components/SpaceCard/styles.ts
  frontend/src/pages/JobList/index.tsx
  frontend/src/pages/SpaceList/index.tsx
Labels: feature, frontend

#81 [ALL] pr 탬플릿에 issue close 키워드를 추가한다.
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#97 [FE] favicon을 로고로 바꾼다.
  frontend/src/assets/favicon.png
  frontend/webpack.config.js
Labels: setting, frontend

#99 [FE] emotion + typescript 설정 및 플러그인을 적용한다.
  frontend/babel.config.json
  frontend/src/App.tsx
  frontend/src/components/Header/index.tsx
  frontend/src/components/InputModal/index.tsx
  frontend/src/components/InputModal/nameModal.tsx
  frontend/src/components/JobCard/index.tsx
  frontend/src/components/SpaceCard/index.tsx
  frontend/src/components/TaskCard/index.tsx
  frontend/src/components/_common/Button/index.tsx
  frontend/src/components/_common/CardTitle/index.tsx
  frontend/src/components/_common/Checkbox/index.tsx
  frontend/src/components/_common/Dimmer/index.tsx
  frontend/src/components/_common/Input/index.tsx
  frontend/src/components/_common/PageTitle/index.tsx
  frontend/src/index.tsx
  frontend/src/pages/JobList/index.tsx
  frontend/src/pages/SpaceList/index.tsx
  frontend/src/pages/TaskList/index.tsx
Labels: ⚙️ setting, 🚀 feature, 🧑🏻‍💻 frontend

#104 [BE] 인수테스트 내 중복되는 토큰 요청 메서드를 분리한다.
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/AuthSupport.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/JobAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/SpaceAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/SubmissionAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/TaskAcceptanceTest.java
Labels: 🔦 test, 🧑🏻‍💻 backend

#106 [FE] 1Q 리팩터링
  frontend/.eslintrc.json
  frontend/.prettierrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/Routes.tsx
  frontend/src/apis/config.ts
  frontend/src/apis/index.ts
  frontend/src/components/Header/index.tsx
  frontend/src/components/InputModal/index.tsx
  frontend/src/components/InputModal/nameModal.tsx
  frontend/src/components/JobCard/index.tsx
  frontend/src/components/JobCard/useJobCard.ts
  frontend/src/components/NameModal/index.tsx
  frontend/src/components/NameModal/styles.ts
  frontend/src/components/NameModal/useNameModal.ts
  frontend/src/components/TaskCard/index.tsx
  frontend/src/components/_common/CardTitle/index.tsx
  frontend/src/components/_common/Checkbox/index.tsx
  frontend/src/components/_common/Dimmer/index.tsx
  frontend/src/components/_common/PageTitle/index.tsx
  frontend/src/hooks/useModal.ts
  frontend/src/index.tsx
  frontend/src/layouts/DefaultLayout/index.tsx
  frontend/src/layouts/UserLayout/index.tsx
  frontend/src/pages/JobList/index.tsx
  frontend/src/pages/SpaceList/index.tsx
  frontend/src/pages/TaskList/index.tsx
  frontend/src/recoil/modal.ts
  frontend/src/types/apis.ts
  frontend/src/types/global.d.ts
Labels: 🧑🏻‍💻 frontend, ❤️ refactor

#105 [BE] 존재하지 않는 hostId로 조회 시 예외처리를 Service가 아닌 HostRepository에서 처리하도록 변경
  backend/src/main/java/com/woowacourse/gongcheck/application/GuestAuthService.java
  backend/src/main/java/com/woowacourse/gongcheck/application/JobService.java
  backend/src/main/java/com/woowacourse/gongcheck/application/SpaceService.java
  backend/src/main/java/com/woowacourse/gongcheck/application/SubmissionService.java
  backend/src/main/java/com/woowacourse/gongcheck/application/TaskService.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/host/HostRepository.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/job/JobRepository.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/space/SpaceRepository.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/task/TaskRepository.java
  backend/src/test/java/com/woowacourse/gongcheck/domain/host/HostRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongcheck/domain/job/JobRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongcheck/domain/space/SpaceRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongcheck/domain/task/TaskRepositoryTest.java
Labels: 🚀 feature, 🙋🏻 guest, 🧑🏻‍💻 backend

#107 [BE] ControllerTest를 DocumentationTest로 병합 및 생성자, equals 메서드 parameter에 final 추가
  backend/src/main/java/com/woowacourse/gongcheck/domain/host/Host.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/job/Job.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/section/Section.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/space/Space.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/submission/Submission.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/task/RunningTask.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/task/Task.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/GuestAuthDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/JobDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/SpaceDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/SubmissionDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/TaskDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/presentation/ControllerTest.java
  backend/src/test/java/com/woowacourse/gongcheck/presentation/GuestAuthControllerTest.java
  backend/src/test/java/com/woowacourse/gongcheck/presentation/SubmissionControllerTest.java
  backend/src/test/java/com/woowacourse/gongcheck/presentation/TaskControllerTest.java
Labels: 🧑🏻‍💻 backend, ❤️ refactor

#112 [FE] 관리자 화면을 위한 기초 구조 생성
  frontend/.eslintrc.json
  frontend/src/Routes.tsx
  frontend/src/apis/index.ts
  frontend/src/components/Header/index.tsx
  frontend/src/components/InputModal/index.tsx
  frontend/src/components/JobCard/index.tsx
  frontend/src/components/NameModal/index.tsx
  frontend/src/components/NameModal/useNameModal.ts
  frontend/src/components/SpaceCard/index.tsx
  frontend/src/components/TaskCard/index.tsx
  frontend/src/components/_common/Button/index.tsx
  frontend/src/components/_common/CardTitle/index.tsx
  frontend/src/components/_common/Checkbox/index.tsx
  frontend/src/components/_common/Dimmer/index.tsx
  frontend/src/components/_common/Input/index.tsx
  frontend/src/components/_common/PageTitle/index.tsx
  frontend/src/layouts/DefaultLayout/index.tsx
  frontend/src/layouts/HostLayout/index.tsx
  frontend/src/layouts/UserLayout/index.tsx
  frontend/src/pages/host/Home/index.tsx
  frontend/src/pages/host/Home/styles.ts
  frontend/src/pages/host/Login/index.tsx
  frontend/src/pages/host/Login/styles.ts
  frontend/src/pages/host/Manage/index.tsx
  frontend/src/pages/host/Manage/styles.ts
  frontend/src/pages/user/JobList/index.tsx
  frontend/src/pages/user/JobList/styles.ts
  frontend/src/pages/user/SpaceList/index.tsx
  frontend/src/pages/user/SpaceList/styles.ts
  frontend/src/pages/user/TaskList/index.tsx
  frontend/src/pages/user/TaskList/styles.ts
  frontend/src/styles/global.ts
Labels: 🚀 feature, 🧑🏻‍💻 frontend

#122 [FE] 깃허브 OAuth를 통해 로그인을 할 수 있다.
  frontend/src/Routes.tsx
  frontend/src/apis/githubAuth.ts
  frontend/src/assets/homeCover.png
  frontend/src/components/_common/GitHubLoginButton/index.tsx
  frontend/src/components/_common/GitHubLoginButton/styles.ts
  frontend/src/hooks/useGithubLogin.ts
  frontend/src/pages/host/AuthCallBack/index.tsx
  frontend/src/pages/host/Home/index.tsx
  frontend/src/pages/host/Login/index.tsx
  frontend/src/styles/global.ts
Labels: 🚀 feature, 🧑🏻‍💻 frontend

#126 [FE] 관리자 페이지 라우팅 분리
  frontend/src/Routes.tsx
  frontend/src/layouts/ManageLayout/index.tsx
Labels: 🚀 feature, 🧑🏻‍💻 frontend

#119 [ALL] SonarCloud 정적분석을 추가한다.
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  backend/build.gradle
  frontend/sonar-project.properties
  sonar-project.properties
Labels: 🔗 infra, 🧑🏻‍💻 backend, 🧑🏻‍💻 frontend

#134 [FE] 관리자 페이지 네비게이션 바 생성
  frontend/src/Routes.tsx
  frontend/src/assets/navigationLogo.png
  frontend/src/components/Navigation/index.tsx
  frontend/src/components/Navigation/styles.ts
  frontend/src/hooks/useGithubLogin.ts
  frontend/src/layouts/HostLayout/index.tsx
  frontend/src/layouts/ManageLayout/index.tsx
Labels: 🚀 feature, 🖌 UI/UX, 🧑🏻‍💻 frontend

#137 [FE] 관리자 페이지 업무 리스트를 보여주는 컴포넌트를 생성한다.
  frontend/src/Routes.tsx
  frontend/src/assets/slackIcon.svg
  frontend/src/components/Navigation/index.tsx
  frontend/src/components/Navigation/styles.ts
  frontend/src/components/host/JobList/index.tsx
  frontend/src/components/host/JobList/styles.ts
  frontend/src/pages/host/DashBoard/index.tsx
  frontend/src/pages/host/DashBoard/styles.ts
  frontend/src/pages/host/Manage/index.tsx
  frontend/src/styles/theme.ts
Labels: 🚀 feature, 🖌 UI/UX

#139 [BE] 새로운 공간 생성 API 구현
  backend/src/main/java/com/woowacourse/gongcheck/SimpleImageUploader.java
  backend/src/main/java/com/woowacourse/gongcheck/application/ImageUploader.java
  backend/src/main/java/com/woowacourse/gongcheck/application/SpaceService.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/space/Space.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/space/SpaceRepository.java
  backend/src/main/java/com/woowacourse/gongcheck/presentation/SpaceController.java
  backend/src/main/java/com/woowacourse/gongcheck/presentation/request/SpaceCreateRequest.java
  backend/src/main/resources/schema.sql
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/SpaceAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/application/SpaceServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/DocumentationTest.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/SpaceDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/domain/space/SpaceRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongcheck/domain/space/SpaceTest.java
Labels: 🚀 feature, 🙆🏻 host, 🧑🏻‍💻 backend

#143 [FE] 사용자가 공간을 선택할 수 있는 페이지 UI 수정
  frontend/public/index.html
  frontend/src/assets/logoTItle.svg
  frontend/src/assets/logoTitle.png
  frontend/src/components/SpaceCard/index.tsx
  frontend/src/components/SpaceCard/styles.ts
  frontend/src/layouts/UserLayout/index.tsx
  frontend/src/pages/user/SpaceList/index.tsx
  frontend/src/pages/user/SpaceList/styles.ts
  frontend/src/styles/global.ts
Labels: 🖌 UI/UX, 🧑🏻‍💻 frontend

#147 [FE] 관리자, 공간 생성 컴포넌트, 페이지를 구현한다.
  frontend/src/Routes.tsx
  frontend/src/components/host/SpaceInfo/index.tsx
  frontend/src/components/host/SpaceInfo/styles.ts
  frontend/src/pages/host/SpaceCreate/index.tsx
  frontend/src/pages/host/SpaceCreate/styles.ts
  frontend/src/styles/theme.ts
Labels: 🚀 feature, 🖌 UI/UX, 🧑🏻‍💻 frontend

#149 [FE] 사용자가 업무을 선택할 수 있는 페이지 UI 수정
  frontend/src/assets/checklistImage.svg
  frontend/src/assets/checklistImage2.svg
  frontend/src/assets/frontArrow.svg
  frontend/src/components/Header/index.tsx
  frontend/src/components/Header/styles.ts
  frontend/src/components/JobCard/index.tsx
  frontend/src/components/JobCard/styles.ts
  frontend/src/components/SpaceCard/index.tsx
  frontend/src/components/SpaceCard/styles.ts
  frontend/src/components/_common/CardTitle/index.tsx
  frontend/src/hooks/useGoPreviousPage.ts
  frontend/src/layouts/UserLayout/index.tsx
  frontend/src/pages/user/JobList/index.tsx
  frontend/src/pages/user/JobList/styles.ts
  frontend/src/styles/theme.ts
Labels: 🚀 feature, 🖌 UI/UX, 🧑🏻‍💻 frontend, ❤️ refactor

#127 [BE] 슬랙 알림 기능을 구현한다.
  backend/build.gradle
  backend/src/main/java/com/woowacourse/gongcheck/GongCheckApplication.java
  backend/src/main/java/com/woowacourse/gongcheck/application/AlertService.java
  backend/src/main/java/com/woowacourse/gongcheck/application/AsyncConfig.java
  backend/src/main/java/com/woowacourse/gongcheck/application/SlackService.java
  backend/src/main/java/com/woowacourse/gongcheck/application/SubmissionService.java
  backend/src/main/java/com/woowacourse/gongcheck/application/response/Attachments.java
  backend/src/main/java/com/woowacourse/gongcheck/application/response/SubmissionResponse.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/job/Job.java
  backend/src/main/java/com/woowacourse/gongcheck/presentation/SubmissionController.java
  backend/src/main/resources/schema.sql
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/application/SubmissionServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/DocumentationTest.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/SubmissionDocumentation.java
  backend/src/test/resources/schema.sql
Labels: 🚀 feature, 🙆🏻 host, 🧑🏻‍💻 backend

#157 [FE] /host/manage URL 하위 계층에 HostLayout padding-left 속성을 적용한다.
  frontend/src/layouts/HostLayout/index.tsx
Labels: 🧑🏻‍💻 frontend, 🔨 fix

#158 [FE] 공간 사용 내역 컴포넌트, 페이지를 구현한다.
  frontend/src/Routes.tsx
  frontend/src/components/host/Submissions/index.tsx
  frontend/src/components/host/Submissions/styles.ts
  frontend/src/mock/submissions.ts
  frontend/src/pages/host/DashBoard/index.tsx
  frontend/src/pages/host/SpaceRecord/index.tsx
  frontend/src/pages/host/SpaceRecord/styles.ts
Labels: 🚀 feature, 🖌 UI/UX, 🧑🏻‍💻 frontend

#160 [FE] 비밀번호 페이지를 생성한다.
  frontend/src/Routes.tsx
  frontend/src/layouts/UserLayout/index.tsx
  frontend/src/pages/user/Password/index.tsx
  frontend/src/pages/user/Password/styles.ts
  frontend/src/pages/user/Password/usePassword.ts
Labels: 🚀 feature, 🖌 UI/UX, 🧑🏻‍💻 frontend

#162 [FE] 사용자, 체크리스트 페이지 새로운 UI 구현
  frontend/src/components/TaskCard/styles.ts
  frontend/src/components/_common/Checkbox/styles.ts
  frontend/src/pages/user/TaskList/index.tsx
  frontend/src/pages/user/TaskList/styles.ts
Labels: 🖌 UI/UX, 🧑🏻‍💻 frontend

#120 [BE] 테스트 픽스쳐 생성 시 id값을 직접 넣을 수 있도록 변경한다.
  backend/src/test/java/com/woowacourse/gongcheck/documentation/JobDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/SpaceDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/TaskDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/fixture/FixtureFactory.java
Labels: 🔦 test, 🧑🏻‍💻 backend, 🔨 fix

#165 [FE] 사용자, 토큰 만료 시, 에러처리를 해야한다.
  frontend/package-lock.json
  frontend/package.json
  frontend/src/errorBoundary/ErrorUserToken.tsx
  frontend/src/layouts/UserLayout/index.tsx
Labels: 🚀 feature, 🧑🏻‍💻 frontend, 🔨 fix

#154 [BE] jacocoTestReport task 누락을 해결한다.
  backend/build.gradle
Labels: 🚨 bug, 🧑🏻‍💻 backend, 🔨 fix

#172 [BE] 테스트 데이터 수정
  backend/src/test/java/com/woowacourse/gongcheck/documentation/SubmissionDocumentation.java
Labels: 🚨 bug, 🧑🏻‍💻 backend, 🔨 fix

#152 [BE] host용 Job 생성 API를 구현한다
  backend/src/main/java/com/woowacourse/gongcheck/application/JobService.java
  backend/src/main/java/com/woowacourse/gongcheck/presentation/JobController.java
  backend/src/main/java/com/woowacourse/gongcheck/presentation/request/JobCreateRequest.java
  backend/src/main/java/com/woowacourse/gongcheck/presentation/request/SectionCreateRequest.java
  backend/src/main/java/com/woowacourse/gongcheck/presentation/request/TaskCreateRequest.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/JobAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/application/JobServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/JobDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/domain/job/JobRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongcheck/domain/task/TaskTest.java
Labels: 🚀 feature, 🙆🏻 host, 🧑🏻‍💻 backend

#177 [FE] 업무의 섹션, 테스크를 생성하여 제출할 수 있는 페이지를 만든다.
  frontend/src/App.tsx
  frontend/src/Routes.tsx
  frontend/src/components/host/SectionCard/index.tsx
  frontend/src/components/host/SectionCard/styles.ts
  frontend/src/components/host/TaskBox/index.tsx
  frontend/src/components/host/TaskBox/styles.ts
  frontend/src/hooks/useSections.ts
  frontend/src/pages/host/JobCreate/index.tsx
  frontend/src/pages/host/JobCreate/styles.ts
  frontend/src/pages/host/JobUpdate/index.tsx
  frontend/src/pages/host/JobUpdate/styles.ts
  frontend/src/pages/host/Login/index.tsx
  frontend/src/pages/host/Login/styles.ts
  frontend/src/styles/global.ts
  frontend/src/styles/transitions.ts
Labels: 🚀 feature, 🖌 UI/UX, 🧑🏻‍💻 frontend

#180 [FE] Slack 알림 URL을 편집할 수 있는 모달창을 생성한다.
  frontend/src/App.tsx
  frontend/src/apis/slack.ts
  frontend/src/components/InputModal/index.tsx
  frontend/src/components/_common/PageTitle/index.tsx
  frontend/src/components/common/Button/index.tsx
  frontend/src/components/common/Checkbox/index.tsx
  frontend/src/components/common/Checkbox/styles.ts
  frontend/src/components/common/Dimmer/index.tsx
  frontend/src/components/common/GitHubLoginButton/index.tsx
  frontend/src/components/common/GitHubLoginButton/styles.ts
  frontend/src/components/common/Input/index.tsx
  frontend/src/components/common/Transitions/index.tsx
  frontend/src/components/host/JobListCard/index.tsx
  frontend/src/components/host/JobListCard/styles.ts
  frontend/src/components/host/Navigation/index.tsx
  frontend/src/components/host/Navigation/styles.ts
  frontend/src/components/host/SectionCard/index.tsx
  frontend/src/components/host/SectionCard/styles.ts
  frontend/src/components/host/SlackUrlBox/index.tsx
  frontend/src/components/host/SlackUrlBox/styles.ts
  frontend/src/components/host/SlackUrlModal/index.tsx
  frontend/src/components/host/SlackUrlModal/styles.ts
  frontend/src/components/host/SpaceInfo/index.tsx
  frontend/src/components/host/SpaceInfo/styles.ts
  frontend/src/components/host/Submissions/index.tsx
  frontend/src/components/host/Submissions/styles.ts
  frontend/src/components/host/TaskBox/index.tsx
  frontend/src/components/host/TaskBox/styles.ts
  frontend/src/components/user/JobCard/index.tsx
  frontend/src/components/user/JobCard/styles.ts
  frontend/src/components/user/JobCard/useJobCard.ts
  frontend/src/components/user/NameModal/index.tsx
  frontend/src/components/user/NameModal/styles.ts
  frontend/src/components/user/NameModal/useNameModal.ts
  frontend/src/components/user/SpaceCard/index.tsx
  frontend/src/components/user/SpaceCard/styles.ts
  frontend/src/components/user/TaskCard/index.tsx
  frontend/src/components/user/TaskCard/styles.ts
  frontend/src/hooks/useSections.ts
  frontend/src/layouts/HostLayout/styles.ts
  frontend/src/layouts/ManageLayout/index.tsx
  frontend/src/layouts/UserLayout/index.tsx
  frontend/src/layouts/UserLayout/styles.ts
  frontend/src/pages/host/DashBoard/index.tsx
  frontend/src/pages/host/Home/index.tsx
  frontend/src/pages/host/JobCreate/styles.ts
  frontend/src/pages/host/JobUpdate/styles.ts
  frontend/src/pages/host/SpaceCreate/index.tsx
  frontend/src/pages/user/JobList/index.tsx
  frontend/src/pages/user/JobList/styles.ts
  frontend/src/pages/user/Password/index.tsx
  frontend/src/pages/user/Password/styles.ts
  frontend/src/pages/user/SpaceList/index.tsx
  frontend/src/pages/user/SpaceList/styles.ts
  frontend/src/pages/user/TaskList/index.tsx
  frontend/src/styles/global.ts
  frontend/src/styles/theme.ts
  frontend/src/types/apis.ts
  frontend/src/types/index.ts
Labels: 🚀 feature, 🖌 UI/UX, 🧑🏻‍💻 frontend

#182 [FE] 공간 생성 플로우에 맞게 비지니스 로직, API 연동을 구현해야 한다.
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Routes.tsx
  frontend/src/apis/config.ts
  frontend/src/apis/githubAuth.ts
  frontend/src/apis/index.ts
  frontend/src/apis/job/index.ts
  frontend/src/apis/password/index.ts
  frontend/src/apis/slack/index.ts
  frontend/src/apis/space/index.ts
  frontend/src/apis/submission/index.ts
  frontend/src/apis/task/index.ts
  frontend/src/components/host/Navigation/index.tsx
  frontend/src/components/host/SpaceInfo/index.tsx
  frontend/src/errorBoundary/ErrorUserToken.tsx
  frontend/src/hooks/useGithubLogin.ts
  frontend/src/layouts/ManageLayout/index.tsx
  frontend/src/layouts/UserLayout/index.tsx
  frontend/src/pages/host/DashBoard/index.tsx
  frontend/src/pages/host/SpaceCreate/index.tsx
  frontend/src/pages/host/SpaceRecord/index.tsx
  frontend/src/pages/user/Password/usePassword.ts
  frontend/src/types/apis.ts
Labels: 🚀 feature, 🧑🏻‍💻 frontend, ❤️ refactor

#186 [ALL] github action 목표 브랜치를 dev로 변경한다.
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Labels: 🚨 bug, 🧑🏻‍💻 backend, 🧑🏻‍💻 frontend, 🔨 fix

#187 [FE] 대시보드 페이지에 생성된 컴포넌트들을 배치한다.
  frontend/src/Routes.tsx
  frontend/src/apis/job.ts
  frontend/src/apis/password.ts
  frontend/src/apis/slack.ts
  frontend/src/apis/slack/index.ts
  frontend/src/apis/space.ts
  frontend/src/apis/submission.ts
  frontend/src/apis/task.ts
  frontend/src/components/host/JobListCard/index.tsx
  frontend/src/components/host/JobListCard/styles.ts
  frontend/src/components/host/Navigation/index.tsx
  frontend/src/components/host/Navigation/styles.ts
  frontend/src/components/host/SpaceInfo/index.tsx
  frontend/src/components/host/SpaceInfo/styles.ts
  frontend/src/components/host/Submissions/index.tsx
  frontend/src/components/host/Submissions/styles.ts
  frontend/src/layouts/HostLayout/styles.ts
  frontend/src/pages/host/DashBoard/index.tsx
Labels: 🧑🏻‍💻 frontend, ❤️ refactor

#194 [ALL] github action script submodule remove
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Labels: 🚨 bug, 🔨 fix

#192 [FE] 깃허브 로그인 리다이렉션 처리
  frontend/src/apis/githubAuth.ts
  frontend/src/apis/index.ts
  frontend/src/hooks/useGithubLogin.ts
  frontend/src/pages/host/AuthCallBack/index.tsx
Labels: 🚀 feature, 🧑🏻‍💻 frontend, ❤️ refactor

#199 [FE] errorBoundary 디렉토리 이름 수정
  frontend/src/layouts/UserLayout/index.tsx
Labels: 🚨 bug, 🧑🏻‍💻 frontend

#205 [FE] 슬랙 URL 조회 및 수정 API를 연동한다.
  frontend/src/apis/job.ts
  frontend/src/apis/slack.ts
  frontend/src/components/common/Dimmer/index.tsx
  frontend/src/components/host/JobListCard/index.tsx
  frontend/src/components/host/JobListCard/styles.ts
  frontend/src/components/host/SectionCard/index.tsx
  frontend/src/components/host/SlackUrlBox/index.tsx
  frontend/src/components/host/SlackUrlBox/styles.ts
  frontend/src/components/host/SlackUrlModal/index.tsx
  frontend/src/components/host/SlackUrlModal/styles.ts
  frontend/src/components/host/SpaceInfo/index.tsx
  frontend/src/components/host/TaskBox/index.tsx
  frontend/src/components/user/SpaceCard/index.tsx
  frontend/src/components/user/TaskCard/index.tsx
  frontend/src/layouts/ManageLayout/index.tsx
  frontend/src/pages/host/AuthCallBack/index.tsx
  frontend/src/pages/host/AuthCallBack/styles.ts
  frontend/src/pages/host/DashBoard/index.tsx
  frontend/src/pages/host/DashBoard/styles.ts
  frontend/src/pages/host/SpaceCreate/index.tsx
  frontend/src/pages/user/Password/index.tsx
  frontend/src/pages/user/Password/usePassword.ts
  frontend/src/pages/user/TaskList/index.tsx
  frontend/src/styles/global.ts
Labels: 🚀 feature, 🖌 UI/UX, 🧑🏻‍💻 frontend, ❤️ refactor

#210 [FE] JobCreate 페이지 key 이슈 해결
  frontend/src/ErrorBoundary/ErrorUserToken.tsx
  frontend/src/components/host/SectionCard/index.tsx
  frontend/src/components/host/SectionCard/styles.ts
  frontend/src/components/host/TaskBox/styles.ts
  frontend/src/hooks/useSections.ts
  frontend/src/layouts/ManageLayout/index.tsx
  frontend/src/layouts/UserLayout/index.tsx
  frontend/src/pages/host/JobCreate/index.tsx
  frontend/src/pages/host/JobCreate/styles.ts
  frontend/src/pages/host/JobUpdate/index.tsx
  frontend/src/styles/animation.ts
Labels: 🚀 feature, 🧑🏻‍💻 frontend, 🔨 fix

#209 [BE] Space 추가, 삭제에 Transactional 애너테이션 추가
  backend/src/main/java/com/woowacourse/gongcheck/application/SpaceService.java
Labels: 🚨 bug, 🙆🏻 host, 🧑🏻‍💻 backend

#203 [BE] SlackUrl 조회 및 수정 기능을 구현한다.
  backend/src/main/java/com/woowacourse/gongcheck/application/JobService.java
  backend/src/main/java/com/woowacourse/gongcheck/application/response/SlackUrlResponse.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/job/Job.java
  backend/src/main/java/com/woowacourse/gongcheck/presentation/JobController.java
  backend/src/main/java/com/woowacourse/gongcheck/presentation/request/SlackUrlChangeRequest.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/JobAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/application/JobServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/JobDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/domain/job/JobTest.java
  backend/src/test/java/com/woowacourse/gongcheck/fixture/FixtureFactory.java
  backend/src/test/resources/data.sql
Labels: 🚀 feature, 🙆🏻 host, 🧑🏻‍💻 backend

#188 [BE] Space 단건 조회 기능을 구현한다.
  backend/src/main/java/com/woowacourse/gongcheck/application/SpaceService.java
  backend/src/main/java/com/woowacourse/gongcheck/presentation/SpaceController.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/SpaceAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/application/SpaceServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/application/SubmissionServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/SpaceDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/domain/space/SpaceRepositoryTest.java
Labels: 🚀 feature, 🙆🏻 host, 🧑🏻‍💻 backend

#202 [BE] Job 삭제 API를 구현한다.
  backend/src/main/java/com/woowacourse/gongcheck/application/JobService.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/section/SectionRepository.java
  backend/src/main/java/com/woowacourse/gongcheck/presentation/JobController.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/JobAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/application/JobServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/JobDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/domain/section/SectionRepositoryTest.java
Labels: 🚀 feature, 🙆🏻 host, 🧑🏻‍💻 backend

#212 [FE] 공간 생성 플로우에 맞게 비지니스 로직, API 연동을 구현해야 한다.
  frontend/src/apis/space.ts
  frontend/src/components/host/SpaceInfo/index.tsx
  frontend/src/components/host/SpaceInfo/useSpaceInfo.ts
  frontend/src/pages/host/SpaceCreate/index.tsx
  frontend/src/pages/host/SpaceCreate/styles.ts
  frontend/src/pages/host/SpaceCreate/useSpaceCreate.ts
  frontend/src/pages/host/SpaceModify/index.tsx
Labels: 🚀 feature, 🧑🏻‍💻 frontend, ❤️ refactor

#222 [FE] 커스텀훅 분리, 업무 수정 페이지 라우팅 처리
  frontend/src/Routes.tsx
  frontend/src/components/host/JobListCard/index.tsx
  frontend/src/components/host/JobListCard/useJobListCard.tsx
  frontend/src/components/host/SlackUrlBox/index.tsx
  frontend/src/pages/host/AuthCallBack/index.tsx
  frontend/src/pages/host/AuthCallBack/styles.ts
  frontend/src/pages/host/AuthCallBack/useAuthCallBack.ts
  frontend/src/pages/host/JobCreate/index.tsx
  frontend/src/pages/host/JobCreate/useJobCreate.ts
  frontend/src/pages/host/JobUpdate/index.tsx
  frontend/src/pages/host/JobUpdate/styles.ts
Labels: 🚀 feature, 🧑🏻‍💻 frontend

#227 [FE] 사용자 체크리스트 페이지 비지니스 로직를 분리해야 한다.
  frontend/src/apis/job.ts
  frontend/src/components/user/JobCard/index.tsx
  frontend/src/components/user/JobCard/useJobCard.ts
  frontend/src/pages/user/Password/index.tsx
  frontend/src/pages/user/Password/styles.ts
  frontend/src/pages/user/TaskList/index.tsx
  frontend/src/pages/user/TaskList/styles.ts
  frontend/src/pages/user/TaskList/useTaskList.tsx
Labels: 🚀 feature, 🧑🏻‍💻 frontend, ❤️ refactor

#213 [BE] 테이블에 있는 잠실, 선릉 공간의 이름을 변경한다.
  backend/src/main/resources/dummy_data.sql
Labels: 🚀 feature, 🧑🏻‍💻 backend

#220 [BE] 테스트 메서드에서 도메인 명을 영어로 사용하도록 변경한다
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/GuestAuthAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/HostAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/SubmissionAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/TaskAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/application/SubmissionServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/application/TaskServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/SpaceDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/SubmissionDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/TaskDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/domain/job/JobRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongcheck/domain/task/RunningTaskRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongcheck/domain/task/RunningTaskTest.java
  backend/src/test/java/com/woowacourse/gongcheck/domain/task/RunningTasksTest.java
Labels: 🔦 test, 🧑🏻‍💻 backend, ❤️ refactor

#237 [FE] 사용자, 체크리스트에서 이름 제출 후, URL에 undefined 나오는 이슈를 해결한다.
  frontend/src/components/user/NameModal/index.tsx
  frontend/src/components/user/NameModal/useNameModal.ts
  frontend/src/pages/user/TaskList/useTaskList.tsx
Labels: 🧑🏻‍💻 frontend, 🔨 fix

#232 [FE] 관리자 로딩 스피너를 구현한다.
  frontend/src/components/common/Loading/index.tsx
  frontend/src/components/common/Loading/styles.ts
  frontend/src/components/host/SlackUrlModal/index.tsx
  frontend/src/layouts/HostLayout/index.tsx
  frontend/src/styles/animation.ts
Labels: 🚀 feature, 🖌 UI/UX, 🧑🏻‍💻 frontend

#238 [FE] API 호출 관련 로딩, 에러 처리를 한다.
  frontend/src/ErrorBoundary/ErrorHostToken.tsx
  frontend/src/layouts/HostLayout/index.tsx
  frontend/src/layouts/ManageLayout/index.tsx
Labels: 🚀 feature, 🧑🏻‍💻 frontend

#239 [BE] test용 yml 파일 중복을 제거한다.
  backend/src/main/resources/application-test.yml
  backend/src/test/resources/application.yml
Labels: 🧑🏻‍💻 backend, ❤️ refactor

#242 [FE] 업무 리스트 컴포넌트에서 데이터가 없을 때 요소를 채워준다.
  frontend/src/components/common/Loading/styles.ts
  frontend/src/components/host/JobControl/index.tsx
  frontend/src/components/host/JobListCard/index.tsx
  frontend/src/components/host/JobListCard/styles.ts
  frontend/src/components/host/SectionCard/index.tsx
  frontend/src/components/host/SectionCard/styles.ts
  frontend/src/components/host/SlackUrlBox/index.tsx
  frontend/src/components/host/Submissions/index.tsx
  frontend/src/components/host/Submissions/styles.ts
  frontend/src/components/host/TaskBox/index.tsx
  frontend/src/components/host/TaskBox/styles.ts
  frontend/src/layouts/UserLayout/index.tsx
  frontend/src/pages/host/JobCreate/styles.ts
  frontend/src/pages/host/JobCreate/useJobCreate.ts
  frontend/src/styles/animation.ts
Labels: 🚀 feature, 🧑🏻‍💻 frontend, ❤️ refactor

#246 [FE] 대시보드 페이지가 전체화면에 꽉 찰수 있도록 수정한다.
  frontend/src/components/host/JobBox/index.tsx
  frontend/src/components/host/JobBox/styles.ts
  frontend/src/components/host/JobBox/useJobBox.tsx
  frontend/src/components/host/JobListCard/index.tsx
  frontend/src/components/host/JobListCard/styles.ts
  frontend/src/components/host/JobListCard/useJobListCard.tsx
  frontend/src/components/host/SpaceInfo/styles.ts
  frontend/src/components/host/Submissions/styles.ts
  frontend/src/pages/host/DashBoard/index.tsx
  frontend/src/pages/host/DashBoard/styles.ts
  frontend/src/pages/host/DashBoard/useDashBoard.tsx
  frontend/src/pages/host/SpaceRecord/styles.ts
Labels: 🚀 feature, 🖌 UI/UX, 🧑🏻‍💻 frontend

#233 [BE] 인가 AOP 를 적용한다.
  backend/src/main/java/com/woowacourse/gongcheck/presentation/Authority.java
  backend/src/main/java/com/woowacourse/gongcheck/presentation/HostController.java
  backend/src/main/java/com/woowacourse/gongcheck/presentation/JobController.java
  backend/src/main/java/com/woowacourse/gongcheck/presentation/SpaceController.java
  backend/src/main/java/com/woowacourse/gongcheck/presentation/SubmissionController.java
  backend/src/main/java/com/woowacourse/gongcheck/presentation/aop/HostOnly.java
  backend/src/main/java/com/woowacourse/gongcheck/presentation/aop/HostVerifier.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/AuthSupport.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/FakeHostAuthController.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/HostAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/HostAuthAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/JobAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/SpaceAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/JobDocumentation.java
Labels: 🚀 feature, 🔦 test, 🙆🏻 host, 🧑🏻‍💻 backend

#250 [FE] 알림 토스트바를 구현한다.
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/ToastPortal.tsx
  frontend/src/components/common/ToastBar/index.tsx
  frontend/src/components/common/ToastBar/styles.ts
  frontend/src/hooks/useToast.ts
  frontend/src/pages/host/JobCreate/useJobCreate.ts
  frontend/src/pages/host/SpaceCreate/useSpaceCreate.ts
  frontend/src/pages/user/Password/usePassword.ts
  frontend/src/recoil/modal.ts
Labels: 🚀 feature, 🖌 UI/UX, 🧑🏻‍💻 frontend

#251 [FE] 라우팅 트랜지션 효과 분기처리 및 유저 페이지 수정
  frontend/src/apis/job.ts
  frontend/src/components/user/SpaceCard/index.tsx
  frontend/src/components/user/SpaceCard/styles.ts
  frontend/src/components/user/TaskCard/index.tsx
  frontend/src/constants/user.ts
  frontend/src/hooks/useTransitionSelect.ts
  frontend/src/pages/user/JobList/index.tsx
  frontend/src/pages/user/SpaceList/index.tsx
  frontend/src/pages/user/TaskList/index.tsx
Labels: 🚀 feature, 🧑🏻‍💻 frontend

#249 [BE] Space 단일 조회에 대한 권한을 전체 허용으로 수정한다.
  backend/src/main/java/com/woowacourse/gongcheck/presentation/SpaceController.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/SpaceAcceptanceTest.java
Labels: 🚀 feature, 🧑🏻‍💻 backend

#252 [BE] 호스트 아이디 조회 API 구현
  backend/src/docs/asciidoc/host.adoc
  backend/src/docs/asciidoc/hosts.adoc
  backend/src/docs/asciidoc/index.adoc
  backend/src/main/java/com/woowacourse/gongcheck/application/HostService.java
  backend/src/main/java/com/woowacourse/gongcheck/application/response/HostResponse.java
  backend/src/main/java/com/woowacourse/gongcheck/presentation/HostController.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/HostAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/application/HostServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/application/JobServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/HostDocumentation.java
Labels: 🚀 feature, 🙆🏻 host, 🧑🏻‍💻 backend

#254 [FE] 모바일 접속 링크를 복사할 수 있는 기능
  frontend/src/App.tsx
  frontend/src/apis/host.ts
  frontend/src/apis/space.ts
  frontend/src/apis/task.ts
  frontend/src/components/common/ToastBar/index.tsx
  frontend/src/components/common/ToastBar/styles.ts
  frontend/src/components/host/SlackUrlBox/index.tsx
  frontend/src/components/user/JobCard/useJobCard.ts
  frontend/src/components/user/SpaceCard/index.tsx
  frontend/src/hooks/useToast.ts
  frontend/src/pages/host/DashBoard/useDashBoard.tsx
  frontend/src/pages/user/JobList/index.tsx
  frontend/src/pages/user/JobList/styles.ts
  frontend/src/pages/user/TaskList/useTaskList.tsx
  frontend/src/recoil/modal.ts
  frontend/src/recoil/toast.ts
  frontend/src/types/apis.ts
Labels: 🚀 feature, 🧑🏻‍💻 frontend

#259 [FE] 사용자, 페이지 이동 시, 다음 페이지에 보여질 데이터가 없으면 페이지 이동을 막아야 한다.
  frontend/src/ErrorBoundary/ErrorUserToken.tsx
  frontend/src/apis/task.ts
  frontend/src/layouts/UserLayout/index.tsx
  frontend/src/pages/user/TaskList/useTaskList.tsx
Labels: 🧑🏻‍💻 frontend, 🔨 fix

#262 [FE] 링크 복사 배포 환경에서 작동할 수 있도록 수정
  frontend/src/pages/host/DashBoard/useDashBoard.tsx
  frontend/src/pages/host/JobUpdate/useJobUpdate.ts
Labels: 🧑🏻‍💻 frontend, 🔨 fix

#255 [BE] BeforeEach 메서드 네이밍 통일
  backend/src/test/java/com/woowacourse/gongcheck/application/JobServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/application/TaskServiceTest.java
Labels: 🔦 test, 🧑🏻‍💻 backend, ❤️ refactor

#256 [BE] Submission DTO 이름을 변경한다.
  backend/src/main/java/com/woowacourse/gongcheck/application/AlertService.java
  backend/src/main/java/com/woowacourse/gongcheck/application/SlackService.java
  backend/src/main/java/com/woowacourse/gongcheck/application/SubmissionService.java
  backend/src/main/java/com/woowacourse/gongcheck/application/response/Attachments.java
  backend/src/main/java/com/woowacourse/gongcheck/application/response/JobSubmissionResponse.java
  backend/src/main/java/com/woowacourse/gongcheck/application/response/SubmissionCreatedResponse.java
  backend/src/main/java/com/woowacourse/gongcheck/application/response/SubmissionResponse.java
  backend/src/main/java/com/woowacourse/gongcheck/application/response/SubmissionsResponse.java
  backend/src/main/java/com/woowacourse/gongcheck/presentation/SubmissionController.java
  backend/src/test/java/com/woowacourse/gongcheck/application/SubmissionServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/SubmissionDocumentation.java
Labels: 🧑🏻‍💻 backend, ❤️ refactor

#257 [BE] EnableJpaAuditing을 추가한다.
  backend/src/main/java/com/woowacourse/gongcheck/application/JobService.java
  backend/src/main/java/com/woowacourse/gongcheck/application/SpaceService.java
  backend/src/main/java/com/woowacourse/gongcheck/application/response/GithubProfileResponse.java
  backend/src/main/java/com/woowacourse/gongcheck/config/JpaConfig.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/host/Host.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/job/Job.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/section/Section.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/space/Space.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/submission/Submission.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/task/RunningTask.java
  backend/src/main/java/com/woowacourse/gongcheck/domain/task/Task.java
  backend/src/test/java/com/woowacourse/gongcheck/domain/host/HostRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongcheck/domain/job/JobRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongcheck/domain/section/SectionRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongcheck/domain/space/SpaceRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongcheck/domain/space/SpaceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/domain/submission/SubmissionRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongcheck/domain/task/RunningTaskRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongcheck/domain/task/TaskRepositoryTest.java
Labels: 🧑🏻‍💻 backend, ❤️ refactor

#265 [FE] 환경변수를 설정한다.
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/apis/config.ts
  frontend/webpack.config.js
Labels: 🚀 feature, 🧑🏻‍💻 frontend

#271 [FE] 링크 복사 기능 수정
  frontend/src/copy.ts
  frontend/src/pages/host/DashBoard/useDashBoard.tsx
Labels: 🚨 bug, 🚀 feature, 🧑🏻‍💻 frontend

#276 [FE] favicon 변경 및 웹폰트 적용
  frontend/src/assets/favicon.png
  frontend/src/styles/global.ts
Labels: 🧑🏻‍💻 frontend

#296 [FE] 동시성, 사용자 체크리스트를 계속 호출해서 동시성을 구현한다.
  frontend/src/pages/user/TaskList/useTaskList.tsx
Labels: 🚀 feature, 🧑🏻‍💻 frontend, ❤️ refactor

#298 [BE] space 이름, 이미지 수정 API를 추가한다.
  backend/src/docs/asciidoc/space.adoc
  backend/src/main/java/com/woowacourse/gongcheck/core/application/SpaceService.java
  backend/src/main/java/com/woowacourse/gongcheck/core/application/response/SpaceResponse.java
  backend/src/main/java/com/woowacourse/gongcheck/core/application/response/SubmissionCreatedResponse.java
  backend/src/main/java/com/woowacourse/gongcheck/core/domain/space/Name.java
  backend/src/main/java/com/woowacourse/gongcheck/core/domain/space/Space.java
  backend/src/main/java/com/woowacourse/gongcheck/core/domain/space/SpaceRepository.java
  backend/src/main/java/com/woowacourse/gongcheck/core/presentation/SpaceController.java
  backend/src/main/java/com/woowacourse/gongcheck/core/presentation/request/SpaceChangeRequest.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/SpaceAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/core/application/SpaceServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/core/application/SubmissionServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/core/domain/space/NameTest.java
  backend/src/test/java/com/woowacourse/gongcheck/core/domain/space/SpaceRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongcheck/core/domain/space/SpaceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/SpaceDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/fixture/FixtureFactory.java
Labels: 🚀 feature, 🙆🏻 host, 🧑🏻‍💻 backend

#300 [FE] 유저, 선택된 공간에 따라 Navigation 컴포넌트에 해당 공간의 색깔이 달라져야 한다.
  frontend/src/components/host/Navigation/index.tsx
  frontend/src/components/host/Navigation/styles.ts
  frontend/src/styles/theme.ts
Labels: 🚀 feature, 🖌 UI/UX, 🧑🏻‍💻 frontend, ❤️ refactor

#302 [FE] 공간 삭제 기능을 구현한다.
  frontend/src/apis/space.ts
  frontend/src/components/host/SpaceDeleteButton/index.tsx
  frontend/src/components/host/SpaceDeleteButton/styles.ts
  frontend/src/components/host/SpaceDeleteModal/index.tsx
  frontend/src/components/host/SpaceDeleteModal/styles.ts
  frontend/src/pages/host/DashBoard/index.tsx
  frontend/src/pages/host/DashBoard/styles.ts
  frontend/src/pages/host/DashBoard/useDashBoard.tsx
Labels: 🚀 feature, 🖌 UI/UX, 🧑🏻‍💻 frontend

#303 [FE] 관리자, Oauth 입장코드를 개발, 운영으로 분리한다.
  frontend/package.json
  frontend/src/components/common/GitHubLoginButton/index.tsx
Labels: 🚀 feature, 🧑🏻‍💻 frontend, 🔨 fix

#306 [BE] DCI 패턴을 적용한 HostService 테스트 코드를 수정한다.
  backend/src/test/java/com/woowacourse/gongcheck/core/application/HostServiceTest.java
Labels: 🔦 test, 🧑🏻‍💻 backend, ❤️ refactor

#320 [BE] Host, Guest Auth연관 클래스와 HostRepository에 DCI 패턴을 적용한다.
  backend/src/main/java/com/woowacourse/gongcheck/auth/application/HostAuthService.java
  backend/src/main/java/com/woowacourse/gongcheck/auth/application/response/TokenResponse.java
  backend/src/main/java/com/woowacourse/gongcheck/infrastructure/oauth/GithubOauthClient.java
  backend/src/test/java/com/woowacourse/gongcheck/auth/application/GuestAuthServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/auth/application/HostAuthServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/core/domain/host/HostRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongcheck/infrastructure/oauth/GithubOauthClientTest.java
Labels: 🔦 test, 🧑🏻‍💻 backend, ❤️ refactor

#317 [BE] SpaceServiceTest, SpaceRepositoryTest에 DCI 패턴을 적용한다.
  backend/src/test/java/com/woowacourse/gongcheck/core/application/SpaceServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/core/domain/space/SpaceRepositoryTest.java
Labels: 🔦 test, 🧑🏻‍💻 backend, ❤️ refactor

#324 [BE] SubmissionServiceTest, SubmissionRepositoryTest에 DCI 패턴을 적용한다.
  backend/src/test/java/com/woowacourse/gongcheck/core/application/SubmissionServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/core/domain/submission/SubmissionRepositoryTest.java
Labels: 🔦 test, 🧑🏻‍💻 backend, ❤️ refactor

#318 [BE] DCI 패턴을 적용한 JobService, JobRepository 테스트 코드를 수정한다.
  backend/src/test/java/com/woowacourse/gongcheck/core/application/JobServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/core/domain/job/JobRepositoryTest.java
Labels: 🔦 test, 🧑🏻‍💻 backend, ❤️ refactor

#332 [BE] bootJar 실행 시 현재 어플리케이션에서 생성된 Restdocs를 포함하도록 수정한다.
  backend/build.gradle
Labels: 🚨 bug, 🧑🏻‍💻 backend

#334 [BE] yml 파일을 수정한다.
  backend/src/main/resources/application.yml
Labels: 🔗 infra, 🧑🏻‍💻 backend

#321 [BE] DCI 패턴을 적용한 TaskService, RunningTaskService, TaskRepository, RunningTaskRepository 테스트 코드를 수정한다.
  backend/src/main/java/com/woowacourse/gongcheck/core/application/response/RunningTasksResponse.java
  backend/src/test/java/com/woowacourse/gongcheck/core/application/HostServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/core/application/TaskServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/core/domain/task/RunningTaskRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongcheck/core/domain/task/TaskRepositoryTest.java
Labels: 🔦 test, 🧑🏻‍💻 backend, ❤️ refactor

#336 [BE] application.yml의 기본 설정을 local로 한다.
  backend/src/main/resources/application.yml
Labels: 🔗 infra, 🧑🏻‍💻 backend

#341 fix: 깃헙 oauth 정보 삭제
  backend/src/main/resources/application-oauth.yml
Labels: 🧑🏻‍💻 backend, 🔨 fix

#337 [BE] runningTasks 생성 API 로직을 수정한다.
  backend/src/main/java/com/woowacourse/gongcheck/core/application/TaskService.java
  backend/src/main/java/com/woowacourse/gongcheck/core/domain/task/Tasks.java
  backend/src/test/java/com/woowacourse/gongcheck/core/application/TaskServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/core/domain/task/TasksTest.java
Labels: 🙆🏻 host, 🧑🏻‍💻 backend, ❤️ refactor

#344 [FE] 유저 화면 TaskList 페이지 관련 에러처리
  frontend/src/ErrorBoundary/ErrorUserToken.tsx
  frontend/src/components/user/JobCard/index.tsx
  frontend/src/components/user/JobCard/useJobCard.ts
  frontend/src/components/user/NameModal/index.tsx
  frontend/src/components/user/NameModal/styles.ts
  frontend/src/hooks/useSectionCheck.ts
  frontend/src/pages/user/JobList/index.tsx
  frontend/src/pages/user/JobList/useJobList.ts
  frontend/src/pages/user/TaskList/index.tsx
  frontend/src/pages/user/TaskList/useTaskList.tsx
Labels: 🚀 feature, 🧑🏻‍💻 frontend, 🔨 fix, ❤️ refactor

#342 [FE] 공간 정보 수정 페이지 UI 및 로직 구현 및 공간 정보 컴포넌트를 리팩터링 한다.
  frontend/src/Routes.tsx
  frontend/src/apis/space.ts
  frontend/src/components/host/ImageBox/index.tsx
  frontend/src/components/host/ImageBox/styles.ts
  frontend/src/components/host/ImageBox/useImageBox.ts
  frontend/src/components/host/SpaceInfo/index.tsx
  frontend/src/components/host/SpaceInfo/styles.ts
  frontend/src/components/host/SpaceInfo/useSpaceInfo.ts
  frontend/src/hooks/useSpaceForm.ts
  frontend/src/pages/host/DashBoard/index.tsx
  frontend/src/pages/host/SpaceCreate/index.tsx
  frontend/src/pages/host/SpaceCreate/useSpaceCreate.ts
  frontend/src/pages/host/SpaceModify/index.tsx
  frontend/src/pages/host/SpaceUpdate/index.tsx
  frontend/src/pages/host/SpaceUpdate/styles.ts
  frontend/src/utils/convertURLtoFile.ts
Labels: 🚀 feature, 🖌 UI/UX, 🧑🏻‍💻 frontend, ❤️ refactor

#343 [FE] 유저, 체크리스트 상에서 task 정보(어디에? 어떻게?) 상세보기 UI, 플로우 로직을 구현해야 한다.
  frontend/src/components/user/DetailedInfoCardModal/index.tsx
  frontend/src/components/user/DetailedInfoCardModal/styles.ts
  frontend/src/components/user/SectionInfoPreviewBox/index.tsx
  frontend/src/components/user/SectionInfoPreviewBox/styles.ts
  frontend/src/components/user/TaskCard/index.tsx
  frontend/src/components/user/TaskCard/styles.ts
  frontend/src/pages/user/TaskList/index.tsx
  frontend/src/pages/user/TaskList/styles.ts
  frontend/src/pages/user/TaskList/useTaskList.tsx
Labels: 🚀 feature, 🖌 UI/UX, 🧑🏻‍💻 frontend
