Repository woowacourse-teams/2022-gong-check, pull requests merged in 2022-09, with the labels that each got.

#548 [FE] 기존 모바일 기준이던 사용자 화면을 다양한 기기에서 작동할 수 있도록 수정한다.
  frontend/src/assets/defaultSpaceImage.webp
  frontend/src/components/common/Checkbox/styles.ts
  frontend/src/components/common/Dimmer/index.tsx
  frontend/src/components/common/Dimmer/styles.ts
  frontend/src/components/common/LazyImage/index.tsx
  frontend/src/components/common/Sticky/index.tsx
  frontend/src/components/common/Sticky/style.ts
  frontend/src/components/host/SectionDetailModal/index.tsx
  frontend/src/components/host/SlackUrlModal/index.tsx
  frontend/src/components/host/SpaceDeleteModal/index.tsx
  frontend/src/components/user/DetailInfoModal/index.tsx
  frontend/src/components/user/JobCard/index.tsx
  frontend/src/components/user/JobCard/styles.ts
  frontend/src/components/user/NameModal/index.tsx
  frontend/src/components/user/SectionCard/index.tsx
  frontend/src/components/user/SectionCard/styles.ts
  frontend/src/components/user/SectionInfoPreview/index.tsx
  frontend/src/components/user/SpaceCard/styles.ts
  frontend/src/components/user/TaskCard/index.tsx
  frontend/src/components/user/TaskCard/styles.ts
  frontend/src/hooks/useScroll.ts
  frontend/src/hooks/useTransitionSelect.ts
  frontend/src/layouts/HostLayout/styles.ts
  frontend/src/layouts/UserLayout/index.tsx
  frontend/src/layouts/UserLayout/styles.ts
  frontend/src/pages/user/JobList/index.tsx
  frontend/src/pages/user/JobList/styles.ts
  frontend/src/pages/user/Password/index.tsx
  frontend/src/pages/user/SpaceList/index.tsx
  frontend/src/pages/user/SpaceList/styles.ts
  frontend/src/pages/user/TaskList/index.tsx
  frontend/src/pages/user/TaskList/styles.ts
  frontend/src/pages/user/TaskList/useTaskList.tsx
  frontend/src/styles/animation.ts
  frontend/src/styles/global.ts
  frontend/src/styles/transitions.ts
  frontend/src/types/global.d.ts
  frontend/webpack.config.js
Labels: 🚀 feature, 🖌 UI/UX, 🧑🏻‍💻 frontend, 🔨 fix

#546 [BE] SSE timeout시 발생하는 예외 회피 코드 추가
  backend/src/main/java/com/woowacourse/gongcheck/exception/ControllerAdvice.java
Labels: 🧑🏻‍💻 backend, 🔨 fix

#521 [BE] HostServiceTest와 SpaceServiceTest를 개선한다
  backend/src/main/java/com/woowacourse/gongcheck/core/application/SpaceService.java
  backend/src/test/java/com/woowacourse/gongcheck/core/application/HostServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/core/application/SpaceServiceTest.java
Labels: 🔦 test, 🧑🏻‍💻 backend, ❤️ refactor

#557 [FE] 관리자 화면을 모바일 및 태블릿에서도 볼 수 있도록 한다.
  frontend/src/components/common/Button/styles.ts
  frontend/src/components/common/GitHubLoginButton/styles.ts
  frontend/src/components/common/SlideMenu/index.tsx
  frontend/src/components/common/SlideMenu/styles.ts
  frontend/src/components/host/ImageBox/styles.ts
  frontend/src/components/host/JobControl/styles.ts
  frontend/src/components/host/JobListCard/index.tsx
  frontend/src/components/host/JobListCard/styles.ts
  frontend/src/components/host/Menu/index.tsx
  frontend/src/components/host/Menu/styles.ts
  frontend/src/components/host/Menu/useMenu.ts
  frontend/src/components/host/Navigator/LeftNavigator/index.tsx
  frontend/src/components/host/Navigator/LeftNavigator/styles.ts
  frontend/src/components/host/Navigator/TopNavigator/index.tsx
  frontend/src/components/host/Navigator/TopNavigator/styles.ts
  frontend/src/components/host/SectionCard/styles.ts
  frontend/src/components/host/SectionDetailModal/index.tsx
  frontend/src/components/host/SectionDetailModal/styles.ts
  frontend/src/components/host/SlackUrlBox/styles.ts
  frontend/src/components/host/SlackUrlModal/index.tsx
  frontend/src/components/host/SlackUrlModal/styles.ts
  frontend/src/components/host/SpaceDeleteButton/index.tsx
  frontend/src/components/host/SpaceDeleteButton/styles.ts
  frontend/src/components/host/SpaceDeleteModal/index.tsx
  frontend/src/components/host/SpaceDeleteModal/styles.ts
  frontend/src/components/host/SpaceInfo/styles.ts
  frontend/src/components/host/SpaceInfoCreateBox/index.tsx
  frontend/src/components/host/SpaceInfoCreateBox/styles.ts
  frontend/src/components/host/SpaceInfoDisplayBox/styles.ts
  frontend/src/components/host/SpaceInfoUpdateBox/index.tsx
  frontend/src/components/host/SpaceInfoUpdateBox/styles.ts
  frontend/src/components/host/Submissions/index.tsx
  frontend/src/components/host/Submissions/styles.ts
  frontend/src/components/host/TaskBox/index.tsx
  frontend/src/layouts/HostLayout/styles.ts
  frontend/src/layouts/ManageLayout/index.tsx
  frontend/src/pages/host/DashBoard/index.tsx
  frontend/src/pages/host/DashBoard/styles.ts
  frontend/src/pages/host/DashBoard/useDashBoard.tsx
  frontend/src/pages/host/Home/index.tsx
  frontend/src/pages/host/Home/styles.ts
  frontend/src/pages/host/JobCreate/styles.ts
  frontend/src/pages/host/JobUpdate/index.tsx
  frontend/src/pages/host/JobUpdate/styles.ts
  frontend/src/pages/host/PasswordUpdate/styles.ts
  frontend/src/pages/host/SpaceCreate/styles.ts
  frontend/src/pages/host/SpaceUpdate/styles.ts
  frontend/src/styles/animation.ts
  frontend/src/utils/isNull.ts
Labels: 🚀 feature, 🖌 UI/UX, 🧑🏻‍💻 frontend, ❤️ refactor

#560 [FE] 모바일 페이지, IOS 최적화 및 수정
  frontend/src/components/common/SlideMenu/styles.ts
  frontend/src/components/host/Menu/useMenu.ts
  frontend/src/components/host/Navigator/TopNavigator/styles.ts
  frontend/src/components/host/SpaceInfoCreateBox/styles.ts
  frontend/src/components/host/SpaceInfoDisplayBox/styles.ts
  frontend/src/components/host/SpaceInfoUpdateBox/styles.ts
  frontend/src/components/host/Submissions/styles.ts
  frontend/src/pages/host/DashBoard/useDashBoard.tsx
Labels: 🧑🏻‍💻 frontend, 🔨 fix

#562 [FE] 디렉토리 구조를 개선한다.
  frontend/src/components/host/JobListCard/JobBox/index.tsx
  frontend/src/components/host/JobListCard/JobBox/styles.ts
  frontend/src/components/host/JobListCard/JobBox/useJobBox.tsx
  frontend/src/components/host/JobListCard/index.tsx
  frontend/src/components/host/Navigator/LeftNavigator/index.tsx
  frontend/src/components/host/Navigator/Menu/index.tsx
  frontend/src/components/host/Navigator/Menu/styles.ts
  frontend/src/components/host/Navigator/Menu/useMenu.ts
  frontend/src/components/host/Navigator/TopNavigator/index.tsx
  frontend/src/components/host/SectionCard/TaskBox/index.tsx
  frontend/src/components/host/SectionCard/TaskBox/styles.ts
  frontend/src/components/host/SectionCard/TaskBox/useTaskBox.tsx
  frontend/src/components/host/SectionCard/index.tsx
  frontend/src/components/host/SlackUrlModal/SlackUrlBox/index.tsx
  frontend/src/components/host/SlackUrlModal/SlackUrlBox/styles.ts
  frontend/src/components/host/SlackUrlModal/index.tsx
  frontend/src/components/host/SpaceDeleteButton/index.tsx
  frontend/src/components/host/SpaceDeleteButton/styles.ts
  frontend/src/components/host/SpaceInfo/SpaceInfoCreateBox/index.tsx
  frontend/src/components/host/SpaceInfo/SpaceInfoCreateBox/styles.ts
  frontend/src/components/host/SpaceInfo/SpaceInfoCreateBox/useSpaceCreateForm.ts
  frontend/src/components/host/SpaceInfo/SpaceInfoDisplayBox/index.tsx
  frontend/src/components/host/SpaceInfo/SpaceInfoDisplayBox/styles.ts
  frontend/src/components/host/SpaceInfo/SpaceInfoDisplayBox/useSpaceInfoDisplayBox.ts
  frontend/src/components/host/SpaceInfo/SpaceInfoUpdateBox/index.tsx
  frontend/src/components/host/SpaceInfo/SpaceInfoUpdateBox/styles.ts
  frontend/src/components/host/SpaceInfo/SpaceInfoUpdateBox/useSpaceUpdateForm.ts
  frontend/src/components/user/SectionCard/SectionInfoPreview/index.tsx
  frontend/src/components/user/SectionCard/SectionInfoPreview/styles.ts
  frontend/src/components/user/SectionCard/index.tsx
  frontend/src/pages/host/DashBoard/index.tsx
  frontend/src/pages/host/DashBoard/styles.ts
  frontend/src/pages/host/DashBoard/useDashBoard.tsx
  frontend/src/pages/host/SpaceCreate/index.tsx
  frontend/src/pages/host/SpaceUpdate/index.tsx
Labels: 🧑🏻‍💻 frontend, ❤️ refactor

#564 [FE] 랜딩페이지 버그 수정, 모바일 환경에서 위로 올리면 에러 발생하는 이슈
  frontend/src/hooks/useScroll.ts
Labels: 🧑🏻‍💻 frontend, 🔨 fix, ❤️ refactor

#566 [FE] ios 환경에서 복사가 안되던 현상 해결
  frontend/src/hooks/useScroll.ts
  frontend/src/pages/host/DashBoard/styles.ts
  frontend/src/pages/host/DashBoard/useDashBoard.tsx
  frontend/src/pages/host/SpaceCreate/styles.ts
  frontend/src/pages/host/SpaceUpdate/styles.ts
  frontend/src/utils/copyUrlToClipboard.ts
Labels: 🧑🏻‍💻 frontend, 🔨 fix

#569 [FE] 랜딩페이지 컴포넌트를 분리해야 한다.
  frontend/src/components/host/LandingView/FloatingActionButton/index.tsx
  frontend/src/components/host/LandingView/FloatingActionButton/styles.ts
  frontend/src/components/host/LandingView/FloatingActionButton/useFloatingActionButton.ts
  frontend/src/components/host/LandingView/HeroSection/index.tsx
  frontend/src/components/host/LandingView/HeroSection/styles.ts
  frontend/src/components/host/LandingView/HeroSection/useHeroSection.ts
  frontend/src/components/host/LandingView/HostPicture/index.tsx
  frontend/src/components/host/LandingView/HostViewSection1/index.tsx
  frontend/src/components/host/LandingView/HostViewSection1/styles.ts
  frontend/src/components/host/LandingView/HostViewSection1/useHostViewSection1.ts
  frontend/src/components/host/LandingView/HostViewSection2/index.tsx
  frontend/src/components/host/LandingView/HostViewSection2/styles.ts
  frontend/src/components/host/LandingView/HostViewSection2/useHostViewSection2.ts
  frontend/src/components/host/LandingView/HostViewSection3/index.tsx
  frontend/src/components/host/LandingView/HostViewSection3/styles.ts
  frontend/src/components/host/LandingView/HostViewSection3/useHostViewSection3.ts
  frontend/src/components/host/LandingView/UserPicture/index.tsx
  frontend/src/components/host/LandingView/UserViewSection1/index.tsx
  frontend/src/components/host/LandingView/UserViewSection1/styles.ts
  frontend/src/components/host/LandingView/UserViewSection1/useUserViewSection1.ts
  frontend/src/components/host/LandingView/UserViewSection2/index.tsx
  frontend/src/components/host/LandingView/UserViewSection2/styles.ts
  frontend/src/components/host/LandingView/UserViewSection2/useUserViewSection2.ts
  frontend/src/components/host/LandingView/UserViewSection3/index.tsx
  frontend/src/components/host/LandingView/UserViewSection3/styles.ts
  frontend/src/components/host/LandingView/UserViewSection3/useUserViewSection3.ts
  frontend/src/layouts/DefaultLayout/MainPage.tsx
  frontend/src/layouts/DefaultLayout/MainSection.tsx
  frontend/src/layouts/DefaultLayout/index.tsx
  frontend/src/pages/host/Landing/index.tsx
  frontend/src/pages/host/Landing/styles.ts
  frontend/src/types/index.ts
Labels: 🧑🏻‍💻 frontend, ❤️ refactor

#575 [FE] Webpack 설정을 변경한다.
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/common/GitHubLoginButton/index.tsx
  frontend/src/components/common/ToastBar/index.tsx
  frontend/src/components/host/ImageBox/index.tsx
  frontend/src/components/host/LandingView/HeroSection/index.tsx
  frontend/src/components/host/Navigator/Menu/index.tsx
  frontend/src/components/host/Navigator/TopNavigator/index.tsx
  frontend/src/components/host/SectionCard/TaskBox/index.tsx
  frontend/src/components/host/SectionCard/index.tsx
  frontend/src/components/host/SectionDetailModal/index.tsx
  frontend/src/components/user/SectionCard/SectionInfoPreview/index.tsx
  frontend/src/components/user/SectionCard/index.tsx
  frontend/src/pages/host/DashBoard/index.tsx
  frontend/src/pages/host/PasswordUpdate/index.tsx
  frontend/src/pages/user/JobList/index.tsx
  frontend/src/pages/user/TaskList/index.tsx
  frontend/tsconfig.json
  frontend/webpack.common.js
  frontend/webpack.config.js
  frontend/webpack.dev.js
  frontend/webpack.prod.js
Labels: ⚙️ setting, 🚀 feature, 🧑🏻‍💻 frontend

#576 [FE] 사용자 페이지를 찾을 수 없어서 Cypress 오류가 뜨던 현상 해결
  frontend/webpack.dev.js
Labels: 🧑🏻‍💻 frontend, 🔨 fix

#577 [FE] 제출 모달창 크기 조정, Transition 효과 수정
  frontend/src/Transitions.tsx
  frontend/src/components/user/NameModal/styles.ts
  frontend/src/pages/user/SpaceList/index.tsx
  frontend/src/pages/user/TaskList/useTaskList.tsx
  frontend/src/styles/transitions.ts
Labels: 🖌 UI/UX, 🧑🏻‍💻 frontend, 🔨 fix

#578 [FE] 다양한 디바이스 사이즈에 맞게 이미지를 보여줘야 한다. (width, height 값 지정, 성능 최적화)
  frontend/src/components/host/JobListCard/index.tsx
  frontend/src/components/host/JobListCard/styles.ts
  frontend/src/components/host/LandingView/HeroSection/index.tsx
  frontend/src/components/host/LandingView/HeroSection/styles.ts
  frontend/src/components/user/JobCard/index.tsx
  frontend/src/components/user/JobCard/styles.ts
  frontend/src/components/user/SpaceCard/styles.ts
  frontend/src/pages/host/Home/index.tsx
  frontend/src/pages/host/Home/styles.ts
  frontend/src/pages/user/Password/index.tsx
  frontend/src/pages/user/Password/styles.ts
  frontend/src/pages/user/SpaceList/index.tsx
  frontend/src/pages/user/SpaceList/styles.ts
Labels: 🧑🏻‍💻 frontend, ❤️ refactor

#579 [FE] IOS 환경, 랜딩페이지에서 스크롤 위로 쭉 업 하면 화면이 하얗게 생기는 이슈 #567
  frontend/src/components/host/LandingView/HeroSection/styles.ts
  frontend/src/components/host/LandingView/HeroSection/useHeroSection.ts
Labels: 🧑🏻‍💻 frontend, 🔨 fix

#580 [FE] 개발 페이지에서 작동이 안되던 현상 해결
  frontend/src/pages/user/TaskList/useTaskList.tsx
  frontend/webpack.prod.js
Labels: 🚨 bug, 🧑🏻‍💻 frontend, 🔨 fix

#582 [FE] 랜딩 페이지 관련 코드 리팩토링
  frontend/src/assets/homeCover-360w.webp
  frontend/src/assets/homeCover-480w.webp
  frontend/src/assets/homeCover-fallback.png
  frontend/src/components/host/LandingView/HeroSection/index.tsx
  frontend/src/components/host/LandingView/HeroSection/styles.ts
  frontend/src/components/host/LandingView/HeroSection/useHeroSection.ts
  frontend/src/constants/screenSize.ts
  frontend/src/index.tsx
  frontend/src/utils/disableReactDevTools.ts
Labels: 🧑🏻‍💻 frontend, ❤️ refactor

#585 [BE] Mysql TestContainer 테스트 환경을 구성한다
  backend/build.gradle
  backend/src/main/resources/application-test.yml
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/DatabaseInitializer.java
  backend/src/test/resources/schema.sql
Labels: 🔗 infra, 🧑🏻‍💻 backend

#587 [FE] 특정 디바이스 환경에서 랜딩페이지가 의도대로 보이지 않던 현상 해결
  frontend/src/components/host/LandingView/FloatingActionButton/styles.ts
  frontend/src/components/host/LandingView/FloatingActionButton/useFloatingActionButton.ts
  frontend/src/components/host/LandingView/HeroSection/index.tsx
  frontend/src/components/host/LandingView/HeroSection/styles.ts
  frontend/src/components/host/LandingView/HostViewSection1/index.tsx
  frontend/src/components/host/LandingView/HostViewSection1/styles.ts
  frontend/src/components/host/LandingView/HostViewSection2/index.tsx
  frontend/src/components/host/LandingView/HostViewSection2/styles.ts
  frontend/src/components/host/LandingView/HostViewSection3/index.tsx
  frontend/src/components/host/LandingView/HostViewSection3/styles.ts
  frontend/src/components/host/LandingView/UserPicture/index.tsx
  frontend/src/components/host/LandingView/UserViewSection1/index.tsx
  frontend/src/components/host/LandingView/UserViewSection1/styles.ts
  frontend/src/components/host/LandingView/UserViewSection2/index.tsx
  frontend/src/components/host/LandingView/UserViewSection2/styles.ts
  frontend/src/components/host/LandingView/UserViewSection2/useUserViewSection2.ts
  frontend/src/components/host/LandingView/UserViewSection3/index.tsx
  frontend/src/components/host/LandingView/UserViewSection3/styles.ts
  frontend/src/index.tsx
  frontend/src/pages/host/Landing/index.tsx
  frontend/src/styles/global.ts
  frontend/src/utils/disableReactDevTools.ts
Labels: 🚀 feature, 🖌 UI/UX, 🧑🏻‍💻 frontend

#590 [FE] gongcheck util types 모듈 적용
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/host/LandingView/HostPicture/index.tsx
  frontend/src/components/host/LandingView/HostViewSection2/index.tsx
  frontend/src/components/host/LandingView/UserPicture/index.tsx
  frontend/src/components/host/LandingView/UserViewSection1/index.tsx
  frontend/src/components/host/LandingView/UserViewSection2/index.tsx
  frontend/src/components/host/LandingView/UserViewSection3/index.tsx
  frontend/src/types/index.ts
Labels: 🚀 feature, 🧑🏻‍💻 frontend

#591 [FE] 모바일 페이지, IOS 최적화 및 수정
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/host/LandingView/HeroSection/styles.ts
  frontend/src/components/host/LandingView/HostPicture/index.tsx
  frontend/src/components/host/LandingView/HostViewSection3/styles.ts
  frontend/src/components/host/LandingView/UserPicture/index.tsx
  frontend/src/components/host/LandingView/UserViewSection1/index.tsx
  frontend/src/components/host/LandingView/UserViewSection1/styles.ts
  frontend/src/components/host/LandingView/UserViewSection2/styles.ts
  frontend/src/components/host/LandingView/UserViewSection3/index.tsx
  frontend/src/components/host/LandingView/UserViewSection3/styles.ts
  frontend/src/hooks/useLazyLoading.ts
  frontend/src/pages/host/Landing/index.tsx
Labels: 🖌 UI/UX, 🧑🏻‍💻 frontend, 🔨 fix
