Repository woowacourse-teams/2022-gong-check, pull requests merged in 2022-10, with the labels that each got.

#552 [BE] TaskServiceTest beforeEach 제거 및 테스트 메서드 네이밍 개선
  backend/src/test/java/com/woowacourse/gongcheck/core/application/TaskServiceTest.java
Labels: 🔦 test, 🧑🏻‍💻 backend, ❤️ refactor

#593 [BE] Job 저장 시, Task가 존재하지 않으면 예외 발생하지 않는 문제 해결
  backend/src/main/java/com/woowacourse/gongcheck/core/presentation/request/JobCreateRequest.java
  backend/src/main/java/com/woowacourse/gongcheck/core/presentation/request/SectionCreateRequest.java
  backend/src/main/java/com/woowacourse/gongcheck/core/presentation/request/TaskCreateRequest.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/JobAcceptanceTest.java
Labels: 🧑🏻‍💻 backend, 🔨 fix

#568 [BE] N+1 발생하는 지점 파악 후 해결한다.
  backend/src/main/java/com/woowacourse/gongcheck/core/application/TaskService.java
  backend/src/main/java/com/woowacourse/gongcheck/core/domain/task/TaskRepository.java
Labels: 🧑🏻‍💻 backend, ❤️ refactor

#556 [BE] JobServiceTest를 개선한다.
  backend/src/main/java/com/woowacourse/gongcheck/core/application/JobService.java
  backend/src/test/java/com/woowacourse/gongcheck/core/application/JobServiceTest.java
Labels: 🔦 test, 🧑🏻‍💻 backend, ❤️ refactor

#598 [BE] host profile 조회 api를 구현한다.
  backend/src/docs/asciidoc/hosts.adoc
  backend/src/main/java/com/woowacourse/gongcheck/auth/application/response/SocialProfileResponse.java
  backend/src/main/java/com/woowacourse/gongcheck/core/application/HostService.java
  backend/src/main/java/com/woowacourse/gongcheck/core/application/response/EntranceCodeResponse.java
  backend/src/main/java/com/woowacourse/gongcheck/core/application/response/HostProfileResponse.java
  backend/src/main/java/com/woowacourse/gongcheck/core/domain/host/Host.java
  backend/src/main/java/com/woowacourse/gongcheck/core/presentation/HostController.java
  backend/src/main/resources/schema_local.sql
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/DatabaseInitializer.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/HostAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/core/application/HostServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/HostDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/fixture/FixtureFactory.java
Labels: 🚀 feature, 🙆🏻 host, 🧑🏻‍💻 backend

#602 [FE] 404 에러 페이지 구현 및 잘못된 접근에 대한 예외 상황을 처리해야한다.
  frontend/src/Routes.tsx
  frontend/src/pages/common/NotFound/index.tsx
  frontend/src/pages/common/NotFound/styles.ts
Labels: 🚀 feature, 🖌 UI/UX, 🧑🏻‍💻 frontend

#606 [FE] 유저 정보 조회 및 안내 기능 추가 및 버그 수정
  frontend/src/Routes.tsx
  frontend/src/apis/host.ts
  frontend/src/apis/index.ts
  frontend/src/components/common/Profile/index.tsx
  frontend/src/components/common/Profile/styles.ts
  frontend/src/components/common/SlideMenu/index.tsx
  frontend/src/components/common/SlideMenu/styles.ts
  frontend/src/components/host/JobControl/index.tsx
  frontend/src/components/host/JobControl/styles.ts
  frontend/src/components/host/Navigator/LeftNavigator/styles.ts
  frontend/src/components/host/Navigator/Menu/index.tsx
  frontend/src/components/host/Navigator/Menu/styles.ts
  frontend/src/components/host/Navigator/Menu/useMenu.ts
  frontend/src/components/host/SectionCard/TaskBox/index.tsx
  frontend/src/components/host/SectionCard/TaskBox/styles.ts
  frontend/src/components/host/SectionCard/index.tsx
  frontend/src/components/host/SectionCard/styles.ts
  frontend/src/components/user/DetailInfoModal/styles.ts
  frontend/src/constants/errorMessage.ts
  frontend/src/hooks/useGithubLogin.ts
  frontend/src/layouts/DefaultLayout/styles.ts
  frontend/src/layouts/HostLayout/index.tsx
  frontend/src/pages/host/Home/styles.ts
  frontend/src/pages/host/PasswordUpdate/index.tsx
  frontend/src/pages/host/Update/index.tsx
  frontend/src/pages/host/Update/styles.ts
  frontend/src/pages/host/Update/useUpdate.ts
  frontend/src/pages/user/Password/index.tsx
  frontend/src/pages/user/Password/styles.ts
  frontend/src/styles/transitions.ts
  frontend/src/types/apis.ts
  frontend/tsconfig.json
Labels: 🚨 bug, 🚀 feature, 🖌 UI/UX, 🧑🏻‍💻 frontend, 🔨 fix

#610 [FE] 잘못된 URL path 값으로 api 호출 시, 에러가 발생하는 상황을 처리해야한다.
  frontend/src/ErrorBoundary/ErrorHostBoundary.tsx
  frontend/src/ErrorBoundary/ErrorHostToken.tsx
  frontend/src/ErrorBoundary/ErrorUserBoundary.tsx
  frontend/src/Routes.tsx
  frontend/src/components/user/SectionCard/index.tsx
  frontend/src/constants/errorMessage.ts
  frontend/src/index.tsx
  frontend/src/layouts/HostLayout/index.tsx
  frontend/src/layouts/UserLayout/index.tsx
  frontend/src/pages/common/NotFound/index.tsx
  frontend/src/pages/common/NotFound/styles.ts
  frontend/src/pages/errorPages/ErrorHost/index.tsx
  frontend/src/pages/errorPages/ErrorUser/index.tsx
  frontend/src/pages/errorPages/NotFound/index.tsx
  frontend/src/pages/errorPages/NotFound/styles.ts
  frontend/src/pages/host/JobUpdate/useJobUpdate.ts
Labels: 🖌 UI/UX, 🧑🏻‍💻 frontend, ❤️ refactor

#609 [BE] Host profile 상세정보 변경 api를 구현한다.
  backend/src/docs/asciidoc/hosts.adoc
  backend/src/main/java/com/woowacourse/gongcheck/auth/application/response/SocialProfileResponse.java
  backend/src/main/java/com/woowacourse/gongcheck/core/application/HostService.java
  backend/src/main/java/com/woowacourse/gongcheck/core/application/response/HostProfileResponse.java
  backend/src/main/java/com/woowacourse/gongcheck/core/domain/host/Host.java
  backend/src/main/java/com/woowacourse/gongcheck/core/domain/host/Nickname.java
  backend/src/main/java/com/woowacourse/gongcheck/core/presentation/HostController.java
  backend/src/main/java/com/woowacourse/gongcheck/core/presentation/request/HostProfileChangeRequest.java
  backend/src/main/java/com/woowacourse/gongcheck/exception/ErrorCode.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/HostAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/core/application/HostServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/core/domain/host/HostTest.java
  backend/src/test/java/com/woowacourse/gongcheck/core/domain/host/NicknameTest.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/HostDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/fixture/FixtureFactory.java
Labels: 🚀 feature, 🙆🏻 host, 🧑🏻‍💻 backend

#618 [FE] landing 페이지 코드 리팩토링
  frontend/cypress/e2e/guest.cy.js
  frontend/src/components/host/LandingView/HeroSection/useHeroSection.ts
  frontend/src/hooks/useOnContainerScroll.ts
Labels: 🧑🏻‍💻 frontend, ❤️ refactor

#619 [FE] SockJs를 제거한다.
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/user/TaskList/useTaskList.tsx
Labels: 🧑🏻‍💻 frontend, 🔨 fix

#614 [BE] Host profile 조회 api 를 구현한다.
  backend/src/main/java/com/woowacourse/gongcheck/config/WebConfig.java
  backend/src/main/java/com/woowacourse/gongcheck/config/WebSocketConfig.java
  backend/src/main/java/com/woowacourse/gongcheck/core/presentation/HostController.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/HostAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/HostDocumentation.java
Labels: 🚀 feature, 🙋🏻 guest, 🧑🏻‍💻 backend

#622 [FE] 프로필 조회 API 관련 수정 사항
  frontend/src/apis/host.ts
  frontend/src/components/common/Profile/index.tsx
  frontend/src/components/host/Navigator/Menu/index.tsx
  frontend/src/components/host/Navigator/Menu/useMenu.ts
  frontend/src/pages/user/Password/index.tsx
  frontend/src/pages/user/Password/usePassword.ts
Labels: 🚀 feature, 🧑🏻‍💻 frontend

#623 [BE] Host profile 조회하는 api를 EntranceCode를 받도록 수정한다.
  backend/src/main/java/com/woowacourse/gongcheck/core/application/HostService.java
  backend/src/main/java/com/woowacourse/gongcheck/core/presentation/HostController.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/HostAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/core/application/HostServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/core/application/SubmissionServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/HostDocumentation.java
Labels: 🙋🏻 guest, 🙆🏻 host, 🧑🏻‍💻 backend, 🔨 fix

#626 [FE] QA에 대한 수정사항을 반영한다.
  frontend/src/apis/host.ts
  frontend/src/components/host/JobControl/index.tsx
  frontend/src/components/host/Navigator/Menu/useMenu.ts
  frontend/src/components/host/Submissions/styles.ts
  frontend/src/components/user/NameModal/index.tsx
  frontend/src/constants/errorMessage.ts
  frontend/src/layouts/UserLayout/index.tsx
  frontend/src/pages/errorPages/ErrorHost/index.tsx
  frontend/src/pages/errorPages/ErrorUser/index.tsx
  frontend/src/pages/errorPages/NotFound/index.tsx
  frontend/src/pages/host/Update/index.tsx
  frontend/src/pages/host/Update/useUpdate.ts
Labels: 🔨 fix

#627 [FE] user 체크리스트 lazy loading 이슈를 수정한다.
  frontend/src/components/common/LazyImage/index.tsx
  frontend/src/components/host/SectionDetailModal/index.tsx
  frontend/src/components/host/SectionDetailModal/useSectionDetailModal.ts
  frontend/src/components/user/DetailInfoModal/index.tsx
  frontend/src/components/user/SectionCard/index.tsx
Labels: 🧑🏻‍💻 frontend, 🔨 fix, ❤️ refactor

#629 [FE] 동시제출, 쿼리 캐시 관련 문제 해결
  frontend/src/pages/errorPages/ErrorHost/index.tsx
  frontend/src/pages/errorPages/ErrorUser/index.tsx
  frontend/src/pages/user/TaskList/useTaskList.tsx
Labels: 🚀 feature, 🧑🏻‍💻 frontend, 🔨 fix

#630 [FE] 이미지 추가 시, 모달창 최대 크기를 정해야 한다. 디폴트 이미지를 정해야 한다.
  frontend/src/components/host/SectionDetailModal/styles.ts
  frontend/src/components/user/DetailInfoModal/index.tsx
  frontend/src/components/user/DetailInfoModal/styles.ts
  frontend/src/components/user/SectionCard/SectionInfoPreview/index.tsx
  frontend/src/components/user/SectionCard/SectionInfoPreview/styles.ts
  frontend/src/components/user/SectionCard/index.tsx
Labels: 🧑🏻‍💻 frontend, ❤️ refactor

#640 [FE] 웹소켓 커넥션 끊겼을 상황에 이전 페이지로 이동한다.
  frontend/src/pages/user/TaskList/useTaskList.tsx
Labels: 🚨 bug, 🚀 feature, 🔨 fix

#645 [FE] 뒤로가기 버튼으로 이전 페이지로 이동하였을때, 나오는 에러메시지를 제거한다.
  frontend/src/hooks/useSocket.ts
  frontend/src/pages/user/TaskList/index.tsx
  frontend/src/pages/user/TaskList/useTaskList.tsx
Labels: 🧑🏻‍💻 frontend, 🔨 fix

#647 [FE] 작동이 없어 이전 페이지로 이동했을때 메시지를 보여준다.
  frontend/src/hooks/useSocket.ts
  frontend/src/pages/user/TaskList/useTaskList.tsx
Labels: 🚀 feature, 🧑🏻‍💻 frontend

#649 [FE] 이미지 서버에서 늦게 받아오는 이미지를 계속 호출 하기 위해 LazyImage 로직을 개선해야 한다.
  frontend/src/components/common/LazyImage/index.tsx
Labels: 🚀 feature, 🧑🏻‍💻 frontend, 🔨 fix

#651 [FE] 체크리스트 상세보기 모달창, 이미지 스켈레톤 UI를 적용해야한다.
  frontend/src/components/user/DetailInfoModal/index.tsx
  frontend/src/components/user/DetailInfoModal/styles.ts
  frontend/src/styles/theme.ts
Labels: 🚀 feature, 🖌 UI/UX, 🧑🏻‍💻 frontend

#653 [FE] 체크리스트 페이지 padding-bottom을 늘린다.
  frontend/src/pages/user/TaskList/styles.ts
Labels: 🖌 UI/UX, 🧑🏻‍💻 frontend, 🔨 fix

#654 release v1.3.2
  frontend/src/components/common/LazyImage/index.tsx
  frontend/src/components/user/DetailInfoModal/index.tsx
  frontend/src/components/user/DetailInfoModal/styles.ts
  frontend/src/hooks/useSocket.ts
  frontend/src/pages/user/TaskList/index.tsx
  frontend/src/pages/user/TaskList/styles.ts
  frontend/src/pages/user/TaskList/useTaskList.tsx
  frontend/src/styles/theme.ts
Labels: 🧑🏻‍💻 backend, 🧑🏻‍💻 frontend, imageserver, release
