Repository woowacourse-teams/2022-gong-check, pull requests merged in 2022-08, with the labels that each got.

#345 [BE] 로깅을 설정한다.
  backend/.gitignore
  backend/build.gradle
  backend/src/main/resources/application-test.yml
  backend/src/main/resources/application.yml
  backend/src/main/resources/logback-access.xml
  backend/src/main/resources/logback-spring.xml
  backend/src/main/resources/logback/console/console-access-appender.xml
  backend/src/main/resources/logback/console/console-appender.xml
  backend/src/main/resources/logback/file/file-access-appender.xml
  backend/src/main/resources/logback/file/file-debug-appender.xml
  backend/src/main/resources/logback/file/file-error-appender.xml
  backend/src/main/resources/logback/file/file-info-appender.xml
  backend/src/main/resources/logback/file/file-warn-appender.xml
  backend/src/main/resources/logback/properties/default-properties.xml
  backend/src/test/resources/application.yml
Labels: ⚙️ setting, 🧑🏻‍💻 backend

#348 [BE] 이미지 업로드 api를 구현한다.
  backend/jffi17202316954401711167.dylib
  backend/src/docs/asciidoc/image-upload.adoc
  backend/src/docs/asciidoc/index.adoc
  backend/src/main/java/com/woowacourse/gongcheck/core/application/response/ImageUrlResponse.java
  backend/src/main/java/com/woowacourse/gongcheck/core/presentation/ImageUploadController.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/ImageUploadAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/DocumentationTest.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/ImageUploadDocumentation.java
Labels: 🚀 feature, 🧑🏻‍💻 backend

#350 [BE] Space 생성, 수정 시 File input을 제거하고 url을 받도록 수정한다.
  backend/src/main/java/com/woowacourse/gongcheck/core/application/SpaceService.java
  backend/src/main/java/com/woowacourse/gongcheck/core/presentation/SpaceController.java
  backend/src/main/java/com/woowacourse/gongcheck/core/presentation/request/SpaceChangeRequest.java
  backend/src/main/java/com/woowacourse/gongcheck/core/presentation/request/SpaceCreateRequest.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/SpaceAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/core/application/SpaceServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/SpaceDocumentation.java
Labels: 🚀 feature, 🧑🏻‍💻 backend

#352 [BE] Job 생성 시 section과 task의 설명을 추가할 수 있도록 수정한다.
  backend/jffi17202316954401711167.dylib
  backend/src/main/java/com/woowacourse/gongcheck/core/application/JobService.java
  backend/src/main/java/com/woowacourse/gongcheck/core/domain/section/Section.java
  backend/src/main/java/com/woowacourse/gongcheck/core/domain/section/SectionExplanation.java
  backend/src/main/java/com/woowacourse/gongcheck/core/domain/task/Task.java
  backend/src/main/java/com/woowacourse/gongcheck/core/domain/task/TaskExplanation.java
  backend/src/main/java/com/woowacourse/gongcheck/core/presentation/request/SectionCreateRequest.java
  backend/src/main/java/com/woowacourse/gongcheck/core/presentation/request/TaskCreateRequest.java
  backend/src/main/resources/schema_local.sql
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/JobAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/core/application/JobServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/core/domain/section/SectionExplanationTest.java
  backend/src/test/java/com/woowacourse/gongcheck/core/domain/task/TaskExplanationTest.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/JobDocumentation.java
  backend/src/test/resources/schema.sql
Labels: 🚀 feature, 🧑🏻‍💻 backend

#362 [BE] 이미지 업로드 api를 수정한다.
  backend/src/main/java/com/woowacourse/gongcheck/core/presentation/ImageUploadController.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/ImageUploadAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/ImageUploadDocumentation.java
Labels: 🧑🏻‍💻 backend, 🔨 fix

#368 [FE] 공간 비밀번호 변경 기능을 구현한다.
  frontend/src/Routes.tsx
  frontend/src/apis/config.ts
  frontend/src/apis/job.ts
  frontend/src/apis/password.ts
  frontend/src/components/common/Loading/styles.ts
  frontend/src/components/host/Navigation/index.tsx
  frontend/src/components/host/Navigation/useHostNavigation.ts
  frontend/src/pages/host/PasswordUpdate/index.tsx
  frontend/src/pages/host/PasswordUpdate/styles.ts
  frontend/src/pages/host/PasswordUpdate/usePasswordUpdate.ts
Labels: 🚀 feature, 🧑🏻‍💻 frontend

#371 [FE] 관리자의 공간 생성, 수정 쪽 이미지 업로드 api 적용 및 이미지 업로드 정책에 맞게 관련 로직을 구현한다.
  frontend/.gitignore
  frontend/cypress/screenshots/guest.cy.ts/사용자 - 업무 선택 페이지 -- 사용자가 새로운 체크리스트 생성시, 업무 목록이 존재하지 않으면 토스트바로 안내해준다 (failed).png
  frontend/cypress/screenshots/guest.cy.ts/사용자 - 체크리스트 체크 페이지 -- 사용자가 제출 모달에서 제출자를 입력하고 버튼을 누르면, 제출 alert가 발생한다 (failed).png
  frontend/cypress/videos/guest.cy.ts.mp4
  frontend/src/apis/image.ts
  frontend/src/apis/index.ts
  frontend/src/apis/space.ts
  frontend/src/hooks/useSpaceForm.ts
  frontend/src/utils/convertURLtoFile.ts
Labels: 🚀 feature, 🧑🏻‍💻 frontend, ❤️ refactor

#373 [FE] 공간 수정 후, DashBoard 페이지에 spaceInfo 정보가 바로 반영되지 않는 이슈를 해결한다.
  frontend/src/components/host/ImageBox/useImageBox.ts
  frontend/src/components/host/SpaceInfo/index.tsx
  frontend/src/components/host/SpaceInfo/useSpaceInfo.ts
  frontend/src/pages/host/DashBoard/useDashBoard.tsx
Labels: 🧑🏻‍💻 frontend, 🔨 fix

#375 [FE] 관리자 Section 생성 및 수정 페이지에, 상세정보를 기입할 수 있는 기능을 추가한다.
  frontend/cypress/screenshots/guest.cy.ts/사용자 - 업무 선택 페이지 -- 사용자가 새로운 체크리스트 생성시, 업무 목록이 존재하지 않으면 토스트바로 안내해준다 (failed).png
  frontend/cypress/screenshots/guest.cy.ts/사용자 - 체크리스트 체크 페이지 -- 사용자가 제출 모달에서 제출자를 입력하고 버튼을 누르면, 제출 alert가 발생한다 (failed).png
  frontend/src/apis/image.ts
  frontend/src/components/host/SectionCardDetail/index.tsx
  frontend/src/components/host/SectionCardDetail/styles.ts
  frontend/src/components/host/SectionCardDetail/useSectionCardDetail.tsx
  frontend/src/components/host/SectionDetailModal/index.tsx
  frontend/src/components/host/SectionDetailModal/styles.ts
  frontend/src/components/host/SectionDetailModal/useSectionDetailModal.ts
  frontend/src/hooks/useSections.ts
  frontend/src/hooks/useSpaceForm.ts
  frontend/src/pages/host/JobUpdate/index.tsx
  frontend/src/pages/host/JobUpdate/useJobUpdate.ts
  frontend/src/types/index.ts
Labels: 🚀 feature, 🧑🏻‍💻 frontend, ❤️ refactor

#376 [FE] 사용자 password 페이지 화면 수정
  frontend/src/pages/user/Password/index.tsx
  frontend/src/pages/user/Password/styles.ts
Labels: 🚀 feature, 🧑🏻‍💻 frontend

#365 [BE] RestDocs 문서를 상세화한다.
  backend/src/docs/asciidoc/guest.adoc
  backend/src/docs/asciidoc/hosts.adoc
  backend/src/docs/asciidoc/image-upload.adoc
  backend/src/docs/asciidoc/job.adoc
  backend/src/docs/asciidoc/runningTask.adoc
  backend/src/docs/asciidoc/space.adoc
  backend/src/docs/asciidoc/submission.adoc
  backend/src/docs/asciidoc/task.adoc
  backend/src/test/java/com/woowacourse/gongcheck/documentation/GuestAuthDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/HostAuthDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/HostDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/ImageUploadDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/JobDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/SpaceDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/SubmissionDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/TaskDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/fixture/FixtureFactory.java
Labels: 📄 doc s, 🧑🏻‍💻 backend

#382 [FE] 도메인을 구매하면 SEO 검색 최적화를 해야한다.
  frontend/public/index.html
Labels: 🔗 infra, 🧑🏻‍💻 frontend

#381 [FE] 사용자 체크리스트 api 호출 시, 응답받은 imageUrl, description 데이터를 화면에 렌더링 해야한다.
  frontend/src/components/user/TaskCard/index.tsx
  frontend/src/pages/user/TaskList/index.tsx
Labels: 🧑🏻‍💻 frontend, ❤️ refactor

#389 [ALL] sonar cloud를 임시로 내린다.
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Labels: 🚨 bug, 🧑🏻‍💻 backend, 🔨 fix

#384 [BE] RunningTask, Task 조회 시 누락된 필드를 추가 한다.
  backend/src/main/java/com/woowacourse/gongcheck/core/application/JobService.java
  backend/src/main/java/com/woowacourse/gongcheck/core/application/response/RunningTaskResponse.java
  backend/src/main/java/com/woowacourse/gongcheck/core/application/response/RunningTasksWithSectionResponse.java
  backend/src/main/java/com/woowacourse/gongcheck/core/application/response/TaskResponse.java
  backend/src/main/java/com/woowacourse/gongcheck/core/application/response/TasksWithSectionResponse.java
  backend/src/main/java/com/woowacourse/gongcheck/core/domain/section/Section.java
  backend/src/main/java/com/woowacourse/gongcheck/core/domain/section/SectionExplanation.java
  backend/src/main/java/com/woowacourse/gongcheck/core/domain/task/Task.java
  backend/src/main/java/com/woowacourse/gongcheck/core/domain/task/TaskExplanation.java
  backend/src/main/java/com/woowacourse/gongcheck/core/presentation/request/SectionCreateRequest.java
  backend/src/main/resources/dummy_data.sql
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/DatabaseInitializer.java
  backend/src/test/java/com/woowacourse/gongcheck/core/domain/section/SectionTest.java
  backend/src/test/java/com/woowacourse/gongcheck/core/domain/task/TaskTest.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/TaskDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/fixture/FixtureFactory.java
Labels: 🚀 feature, 🧑🏻‍💻 backend

#367 [BE] Service 테스트에 대한 구체적인 테스트 검증을 추가한다.
  backend/src/test/java/com/woowacourse/gongcheck/core/application/HostServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/core/application/SpaceServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/core/application/SubmissionServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/core/application/TaskServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/core/domain/submission/SubmissionRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongcheck/fixture/FixtureFactory.java
Labels: 🔦 test, 🧑🏻‍💻 backend, ❤️ refactor

#359 [BE] 로깅을 적용한다.
  backend/build.gradle
  backend/src/main/java/com/woowacourse/gongcheck/core/domain/host/Host.java
  backend/src/main/java/com/woowacourse/gongcheck/core/domain/space/Name.java
  backend/src/main/java/com/woowacourse/gongcheck/exception/ControllerAdvice.java
  backend/src/main/java/com/woowacourse/gongcheck/exception/InfrastructureException.java
  backend/src/main/java/com/woowacourse/gongcheck/infrastructure/alert/SlackService.java
  backend/src/main/java/com/woowacourse/gongcheck/infrastructure/jwt/JjwtTokenProvider.java
  backend/src/main/java/com/woowacourse/gongcheck/infrastructure/oauth/GithubOauthClient.java
  backend/src/main/resources/logback-spring.xml
  backend/src/main/resources/logback/properties/default-properties.xml
  backend/src/main/resources/logback/slack/slack-appender.xml
  backend/src/test/java/com/woowacourse/gongcheck/auth/application/GuestAuthServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/core/domain/host/HostTest.java
  backend/src/test/java/com/woowacourse/gongcheck/core/domain/space/NameTest.java
  backend/src/test/java/com/woowacourse/gongcheck/infrastructure/jwt/JjwtTokenProviderTest.java
  backend/src/test/java/com/woowacourse/gongcheck/infrastructure/oauth/GithubOauthClientTest.java
Labels: 🚀 feature, 🧑🏻‍💻 backend

#395 [FE] 관리자 네비게이션바, 업무 생성 페이지 반응형 구현
  frontend/src/components/host/JobControl/styles.ts
  frontend/src/components/host/Navigation/styles.ts
  frontend/src/layouts/HostLayout/styles.ts
  frontend/src/pages/host/JobCreate/styles.ts
Labels: 🚀 feature, 🧑🏻‍💻 frontend

#394 [FE] 관리자가 작업(task)를 수정하면 접속중이던 유저는 에러가 발생한다.
  frontend/src/ErrorBoundary/ErrorUserTask.tsx
  frontend/src/layouts/HostLayout/index.tsx
  frontend/src/pages/user/TaskList/useTaskList.tsx
Labels: 🧑🏻‍💻 frontend, 🔨 fix

#400 [FE] ErrorUserTask 를 UserLayout에 적용시켜야 한다.
  frontend/src/layouts/HostLayout/index.tsx
  frontend/src/layouts/UserLayout/index.tsx
Labels: 🧑🏻‍💻 frontend, ❤️ refactor

#402 [FE] 서버에서 주는 에러메시지의 text를 정확히 체크 해야 한다.
  frontend/src/ErrorBoundary/ErrorUserTask.tsx
Labels: 🧑🏻‍💻 frontend, 🔨 fix

#374 [BE] 입장코드를 해싱한다
  backend/build.gradle
  backend/src/docs/asciidoc/hosts.adoc
  backend/src/main/java/com/woowacourse/gongcheck/auth/application/EntranceCodeProvider.java
  backend/src/main/java/com/woowacourse/gongcheck/auth/application/GuestAuthService.java
  backend/src/main/java/com/woowacourse/gongcheck/auth/application/HashTranslator.java
  backend/src/main/java/com/woowacourse/gongcheck/auth/presentation/GuestAuthController.java
  backend/src/main/java/com/woowacourse/gongcheck/core/application/HostService.java
  backend/src/main/java/com/woowacourse/gongcheck/core/application/response/EntranceCodeResponse.java
  backend/src/main/java/com/woowacourse/gongcheck/core/application/response/HostResponse.java
  backend/src/main/java/com/woowacourse/gongcheck/core/presentation/HostController.java
  backend/src/main/java/com/woowacourse/gongcheck/infrastructure/hash/AES256.java
  backend/src/main/resources/application-test.yml
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/AuthSupport.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/GuestAuthAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/HostAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/ImageUploadAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/JobAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/SpaceAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/SubmissionAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/TaskAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/auth/application/EntranceCodeProviderTest.java
  backend/src/test/java/com/woowacourse/gongcheck/core/application/HostServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/DocumentationTest.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/GuestAuthDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/HostDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/infrastructure/hash/AES256Test.java
Labels: 🚀 feature, 🙋🏻 guest, 🙆🏻 host, 🧑🏻‍💻 backend

#404 [FE] 입장 코드 복사 기능 및 업무 수정 페이지 수정
  frontend/src/apis/host.ts
  frontend/src/components/host/JobControl/index.tsx
  frontend/src/components/host/JobControl/styles.ts
  frontend/src/components/host/SectionCardDefault/index.tsx
  frontend/src/pages/host/DashBoard/useDashBoard.tsx
  frontend/src/pages/host/JobCreate/useJobCreate.ts
  frontend/src/pages/host/JobUpdate/styles.ts
  frontend/src/pages/host/JobUpdate/useJobUpdate.ts
  frontend/src/types/apis.ts
Labels: 🚨 bug, 🧑🏻‍💻 frontend, 🔨 fix

#409 [BE] 이미지 파일의 확장자 제한을 수정한다.
  backend/src/main/java/com/woowacourse/gongcheck/core/domain/image/imageFile/ImageFile.java
  imagestorage/src/main/java/com/woowacourse/imagestorage/domain/ImageFile.java
Labels: 🧑🏻‍💻 backend, 🔨 fix, imageserver

#410 [FE] input 관련 리팩토링을 한다.
  frontend/src/components/host/ImageBox/index.tsx
  frontend/src/components/host/ImageBox/useImageBox.ts
  frontend/src/components/host/JobControl/index.tsx
  frontend/src/components/host/SectionCardDefault/index.tsx
  frontend/src/components/host/SectionDetailModal/index.tsx
  frontend/src/components/host/SectionDetailModal/useSectionDetailModal.ts
  frontend/src/components/host/SpaceDeleteModal/index.tsx
  frontend/src/components/host/SpaceInfo/index.tsx
  frontend/src/components/host/SpaceInfo/styles.ts
  frontend/src/components/host/TaskBox/index.tsx
  frontend/src/components/user/NameModal/index.tsx
  frontend/src/utils/checkFileSize.ts
Labels: 🚀 feature, 🧑🏻‍💻 frontend, ❤️ refactor

#412 [FE] 공간 관련 이미지 로직을 분리 해야 한다.
  frontend/src/components/host/ImageBox/index.tsx
  frontend/src/components/host/ImageBox/useImageBox.ts
  frontend/src/components/host/SpaceInfo/index.tsx
  frontend/src/components/host/SpaceInfo/useSpaceInfo.ts
  frontend/src/hooks/useSpaceForm.ts
  frontend/src/pages/host/DashBoard/index.tsx
  frontend/src/pages/host/SpaceCreate/index.tsx
  frontend/src/pages/host/SpaceUpdate/index.tsx
Labels: 🧑🏻‍💻 frontend, ❤️ refactor

#416 [FE] 사용자가 체크리스트 제출했을때, 에러뜨는 부분 수정
  frontend/src/ErrorBoundary/ErrorUserTask.tsx
  frontend/src/pages/user/TaskList/index.tsx
  frontend/src/pages/user/TaskList/useTaskList.tsx
Labels: 🧑🏻‍💻 frontend, 🔨 fix

#421 [FE] 사용자 체크리스트 progressBar 위에 고정을 시켜야 한다.
  frontend/src/pages/user/TaskList/index.tsx
  frontend/src/pages/user/TaskList/styles.ts
Labels: 🖌 UI/UX, 🧑🏻‍💻 frontend

#428 [BE] 이미지 서버 내 로깅을 적용한다.
  imagestorage/.gitignore
  imagestorage/build.gradle
  imagestorage/src/main/java/com/woowacourse/imagestorage/application/ImageService.java
  imagestorage/src/main/java/com/woowacourse/imagestorage/exception/ControllerAdvice.java
  imagestorage/src/main/java/com/woowacourse/imagestorage/exception/ErrorResponse.java
  imagestorage/src/main/java/com/woowacourse/imagestorage/presentation/ImageController.java
  imagestorage/src/main/resources/logback-access.xml
  imagestorage/src/main/resources/logback-spring.xml
  imagestorage/src/main/resources/logback/console/console-access-appender.xml
  imagestorage/src/main/resources/logback/console/console-appender.xml
  imagestorage/src/main/resources/logback/file/file-access-appender.xml
  imagestorage/src/main/resources/logback/file/file-debug-appender.xml
  imagestorage/src/main/resources/logback/file/file-error-appender.xml
  imagestorage/src/main/resources/logback/file/file-info-appender.xml
  imagestorage/src/main/resources/logback/file/file-warn-appender.xml
  imagestorage/src/main/resources/logback/properties/default-properties.xml
  imagestorage/src/test/java/com/woowacourse/imagestorage/application/ImageServiceTest.java
Labels: 🚀 feature, imageserver

#429 [FE] 체크리스트 progressbar 마진 속성 수정
  frontend/src/components/user/NameModal/useNameModal.ts
  frontend/src/pages/user/TaskList/styles.ts
Labels: 🖌 UI/UX, 🧑🏻‍💻 frontend

#423 [FE] 관리자 페이지에서 복사된 링크 수정
  frontend/src/pages/host/DashBoard/useDashBoard.tsx
Labels: 🧑🏻‍💻 frontend, 🔨 fix

#430 [FE] refactor: 0.1초로 호출
  frontend/src/pages/user/TaskList/useTaskList.tsx
Labels: 🚀 feature, 🧑🏻‍💻 frontend

#432 [BE] 제출하기 동시성 이슈 해결
  backend/src/main/java/com/woowacourse/gongcheck/core/application/SubmissionService.java
Labels: 🚨 bug, 🧑🏻‍💻 backend

#436 fix: 설명은 공백이 가능하도록 수정
  backend/src/main/java/com/woowacourse/gongcheck/core/domain/vo/Description.java
  backend/src/test/java/com/woowacourse/gongcheck/core/domain/vo/DescriptionTest.java
Labels: 🚨 bug, 🙆🏻 host, 🧑🏻‍💻 backend, 🔨 fix

#438 [BE] slack url이 비어있을때 알람이 전송되는 문제를 해결한다.
  backend/src/main/java/com/woowacourse/gongcheck/core/application/SubmissionService.java
  backend/src/main/java/com/woowacourse/gongcheck/core/domain/job/Job.java
  backend/src/main/java/com/woowacourse/gongcheck/core/presentation/SubmissionController.java
  backend/src/test/java/com/woowacourse/gongcheck/core/application/SubmissionServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/core/domain/job/JobTest.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/SubmissionDocumentation.java
Labels: 🧑🏻‍💻 backend, 🔨 fix

#434 [FE] 사용자 체크리스트 페이지 제출 모달 기능 수정
  frontend/src/components/common/Dimmer/index.tsx
  frontend/src/components/user/NameModal/index.tsx
  frontend/src/components/user/NameModal/useNameModal.ts
  frontend/src/components/user/SectionInfoPreviewBox/styles.ts
  frontend/src/pages/user/TaskList/index.tsx
  frontend/src/pages/user/TaskList/styles.ts
  frontend/src/pages/user/TaskList/useTaskList.tsx
  frontend/src/styles/transitions.ts
Labels: 🚀 feature, 🧑🏻‍💻 frontend, 🔨 fix, ❤️ refactor

#447 [BE] 외부 라이브러리에 종속적인 코드/네이밍을 수정한다.
  backend/src/main/java/com/woowacourse/gongcheck/auth/application/HostAuthService.java
  backend/src/main/java/com/woowacourse/gongcheck/auth/application/OAuthClient.java
  backend/src/main/java/com/woowacourse/gongcheck/auth/application/response/OAuthAccessTokenResponse.java
  backend/src/main/java/com/woowacourse/gongcheck/auth/application/response/SocialProfileResponse.java
  backend/src/main/java/com/woowacourse/gongcheck/auth/presentation/request/OAuthAccessTokenRequest.java
  backend/src/main/java/com/woowacourse/gongcheck/infrastructure/oauth/GithubOauthClient.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/FakeHostAuthController.java
  backend/src/test/java/com/woowacourse/gongcheck/auth/application/HostAuthServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/infrastructure/oauth/GithubOauthClientTest.java
Labels: 🧑🏻‍💻 backend, ❤️ refactor

#448 [BE] 테스트에서 repository를 주입받고 값을 세팅하는 환경을 개선한다.
  backend/src/test/java/com/woowacourse/gongcheck/ApplicationTest.java
  backend/src/test/java/com/woowacourse/gongcheck/DatabaseCleanerExtension.java
  backend/src/test/java/com/woowacourse/gongcheck/SupportRepository.java
  backend/src/test/java/com/woowacourse/gongcheck/core/application/HostServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/core/application/JobServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/core/application/SpaceServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/core/application/SubmissionServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/core/application/TaskServiceTest.java
Labels: 🔦 test, 🧑🏻‍💻 backend, ❤️ refactor

#450 [BE] RestDocs request-fields.adoc에 nullable, length 필드를 추가한다.
  backend/src/main/java/com/woowacourse/gongcheck/auth/presentation/request/GuestEnterRequest.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/GuestAuthDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/HostAuthDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/ImageUploadDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/JobDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/SpaceDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/SubmissionDocumentation.java
  backend/src/test/resources/org/springframework/restdocs/templates/request-fields.snippet
Labels: 📄 doc s, 🧑🏻‍💻 backend

#452 [BE] Slack에 종속되는 네이밍을 Notification으로 추상화한다.
  backend/src/main/java/com/woowacourse/gongcheck/core/application/NotificationService.java
  backend/src/main/java/com/woowacourse/gongcheck/core/application/SubmissionService.java
  backend/src/main/java/com/woowacourse/gongcheck/infrastructure/notification/SlackService.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/DocumentationTest.java
Labels: 🧑🏻‍💻 backend, ❤️ refactor

#460 [FE] spaceInfo 관련 컴포넌트를 완벽하게 추상화를 해야한다.
  frontend/src/components/host/ImageBox/index.tsx
  frontend/src/components/host/ImageBox/styles.ts
  frontend/src/components/host/SpaceInfo/index.tsx
  frontend/src/components/host/SpaceInfo/styles.ts
  frontend/src/components/host/SpaceInfo/useSpaceInfo.ts
  frontend/src/components/host/SpaceInfoCreateBox/index.tsx
  frontend/src/components/host/SpaceInfoCreateBox/styles.ts
  frontend/src/components/host/SpaceInfoCreateBox/useSpaceCreateForm.ts
  frontend/src/components/host/SpaceInfoDisplayBox/index.tsx
  frontend/src/components/host/SpaceInfoDisplayBox/styles.ts
  frontend/src/components/host/SpaceInfoDisplayBox/useSpaceInfoDisplayBox.ts
  frontend/src/components/host/SpaceInfoUpdateBox/index.tsx
  frontend/src/components/host/SpaceInfoUpdateBox/styles.ts
  frontend/src/components/host/SpaceInfoUpdateBox/useSpaceUpdateForm.ts
  frontend/src/hooks/useImage.ts
  frontend/src/pages/host/DashBoard/index.tsx
  frontend/src/pages/host/SpaceCreate/index.tsx
  frontend/src/pages/host/SpaceUpdate/index.tsx
Labels: 🧑🏻‍💻 frontend, ❤️ refactor

#457 [BE] updateJob 메서드에서 Job을 삭제하지 않고 수정하는 로직으로 변경한다.
  backend/src/main/java/com/woowacourse/gongcheck/core/application/JobService.java
  backend/src/main/java/com/woowacourse/gongcheck/core/domain/job/Job.java
  backend/src/test/java/com/woowacourse/gongcheck/core/application/JobServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/core/domain/job/JobTest.java
Labels: 🚀 feature, 🙆🏻 host, 🧑🏻‍💻 backend

#474 [FE] bundle.js 브라우저 캐시 최적화를 해야한다.(최신의 배포를 사용자가 바라봐야한다.)
  frontend/webpack.config.js
Labels: ⚙️ setting, 🧑🏻‍💻 frontend

#476 [BE] @Valid 보다 @HostOnly 가 먼저 동작하도록 한다.
  backend/src/main/java/com/woowacourse/gongcheck/auth/domain/AuthenticationContext.java
  backend/src/main/java/com/woowacourse/gongcheck/auth/presentation/AuthenticationInterceptor.java
  backend/src/main/java/com/woowacourse/gongcheck/auth/presentation/AuthenticationPrincipalArgumentResolver.java
  backend/src/main/java/com/woowacourse/gongcheck/auth/presentation/HostOnly.java
  backend/src/main/java/com/woowacourse/gongcheck/auth/presentation/aop/HostVerifier.java
  backend/src/main/java/com/woowacourse/gongcheck/core/presentation/HostController.java
  backend/src/main/java/com/woowacourse/gongcheck/core/presentation/ImageUploadController.java
  backend/src/main/java/com/woowacourse/gongcheck/core/presentation/JobController.java
  backend/src/main/java/com/woowacourse/gongcheck/core/presentation/SpaceController.java
  backend/src/main/java/com/woowacourse/gongcheck/core/presentation/SubmissionController.java
  backend/src/main/java/com/woowacourse/gongcheck/core/presentation/TaskController.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/DocumentationTest.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/HostDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/ImageUploadDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/JobDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/SpaceDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/SubmissionDocumentation.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/TaskDocumentation.java
Labels: 🧑🏻‍💻 backend, 🔨 fix

#483 [FE] 비밀번호를 변경 시(host), 뒤로가기 기능이 작동해야 한다.
  frontend/src/pages/host/PasswordUpdate/usePasswordUpdate.ts
Labels: 🚀 feature, 🧑🏻‍💻 frontend

#486 [FE] 유저가 enteranceCode를 바탕으로 여러개의 공간을 동시에 사용할 수 있도록 한다.
  frontend/src/ErrorBoundary/ErrorHostToken.tsx
  frontend/src/ErrorBoundary/ErrorUserToken.tsx
  frontend/src/apis/config.ts
  frontend/src/hooks/useGithubLogin.ts
  frontend/src/layouts/UserLayout/index.tsx
  frontend/src/pages/user/Password/usePassword.ts
Labels: 🧑🏻‍💻 frontend, 🔨 fix

#478 [BE] 이미지 업로드 시 이미지 파일 크기 리사이징을 적용한다.
  imagestorage/build.gradle
  imagestorage/src/main/java/com/woowacourse/imagestorage/application/ImageService.java
  imagestorage/src/main/java/com/woowacourse/imagestorage/domain/ImageExtension.java
  imagestorage/src/main/java/com/woowacourse/imagestorage/domain/ImageFile.java
  imagestorage/src/main/java/com/woowacourse/imagestorage/exception/ControllerAdvice.java
  imagestorage/src/main/java/com/woowacourse/imagestorage/exception/ErrorResponse.java
  imagestorage/src/main/java/com/woowacourse/imagestorage/exception/FileIOException.java
  imagestorage/src/main/java/com/woowacourse/imagestorage/strategy/GifImageResizeStrategy.java
  imagestorage/src/main/java/com/woowacourse/imagestorage/strategy/ImageResizeStrategy.java
  imagestorage/src/main/java/com/woowacourse/imagestorage/strategy/StaticImageResizeStrategy.java
  imagestorage/src/main/java/com/woowacourse/imagestorage/util/ImageResizeUtil.java
  imagestorage/src/main/java/com/woowacourse/imagestorage/util/ImageTypeTransferUtil.java
  imagestorage/src/main/resources/application-local.yml
  imagestorage/src/test/java/com/woowacourse/imagestorage/application/ImageServiceTest.java
  imagestorage/src/test/java/com/woowacourse/imagestorage/domain/ImageExtensionTest.java
  imagestorage/src/test/java/com/woowacourse/imagestorage/domain/ImageFileTest.java
  imagestorage/src/test/java/com/woowacourse/imagestorage/strategy/StaticImageResizeStrategyTest.java
  imagestorage/src/test/java/com/woowacourse/imagestorage/util/ImageResizeUtilTest.java
  imagestorage/src/test/java/com/woowacourse/imagestorage/util/ImageTypeTransferUtilTest.java
Labels: 🚀 feature, imageserver

#487 [FE] 작업 체크 페이지에 이미지 LazyLoading을 적용한다.
  frontend/src/components/user/SectionInfoPreview/index.tsx
  frontend/src/hooks/useLazyImage.ts
Labels: 🚀 feature, 🧑🏻‍💻 frontend, ❤️ refactor

#480 [BE] 해당 Section의 모든 runningTask를 체크하는 기능을 구현한다.
  backend/src/docs/asciidoc/runningTask.adoc
  backend/src/main/java/com/woowacourse/gongcheck/core/application/TaskService.java
  backend/src/main/java/com/woowacourse/gongcheck/core/domain/section/SectionRepository.java
  backend/src/main/java/com/woowacourse/gongcheck/core/domain/task/RunningTask.java
  backend/src/main/java/com/woowacourse/gongcheck/core/domain/task/RunningTasks.java
  backend/src/main/java/com/woowacourse/gongcheck/core/domain/task/TaskRepository.java
  backend/src/main/java/com/woowacourse/gongcheck/core/domain/task/Tasks.java
  backend/src/main/java/com/woowacourse/gongcheck/core/presentation/TaskController.java
  backend/src/test/java/com/woowacourse/gongcheck/SupportRepository.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/TaskAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/core/application/TaskServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/core/domain/section/SectionRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongcheck/core/domain/task/RunningTaskTest.java
  backend/src/test/java/com/woowacourse/gongcheck/core/domain/task/RunningTasksTest.java
  backend/src/test/java/com/woowacourse/gongcheck/core/domain/task/TaskRepositoryTest.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/TaskDocumentation.java
Labels: 🚀 feature, 🙋🏻 guest, 🧑🏻‍💻 backend

#493 [FE] 성능 분석 리포트를 자동화 한다
  .github/workflows/frontend.yml
  frontend/.gitignore
  frontend/lighthouserc.js
  frontend/package-lock.json
  frontend/package.json
Labels: 🔗 infra, 🧑🏻‍💻 frontend

#490 [BE] 이미지 서버의 파일 리사이즈 반환 api를 추가한다.
  imagestorage/src/main/java/com/woowacourse/imagestorage/application/ImageService.java
  imagestorage/src/main/java/com/woowacourse/imagestorage/configuration/EtagConfiguration.java
  imagestorage/src/main/java/com/woowacourse/imagestorage/domain/ImageExtension.java
  imagestorage/src/main/java/com/woowacourse/imagestorage/domain/ImageFile.java
  imagestorage/src/main/java/com/woowacourse/imagestorage/exception/ControllerAdvice.java
  imagestorage/src/main/java/com/woowacourse/imagestorage/exception/FileIONotFoundException.java
  imagestorage/src/main/java/com/woowacourse/imagestorage/presentation/ImageController.java
  imagestorage/src/main/java/com/woowacourse/imagestorage/strategy/GifImageResizeStrategy.java
  imagestorage/src/main/java/com/woowacourse/imagestorage/strategy/ImageResizeStrategy.java
  imagestorage/src/main/java/com/woowacourse/imagestorage/strategy/StaticImageResizeStrategy.java
  imagestorage/src/test/java/com/woowacourse/imagestorage/application/ImageServiceTest.java
  imagestorage/src/test/java/com/woowacourse/imagestorage/domain/ImageExtensionTest.java
  imagestorage/src/test/java/com/woowacourse/imagestorage/strategy/StaticImageResizeStrategyTest.java
  imagestorage/src/test/resources/application.yml
  imagestorage/src/test/resources/static/images/test-image.jpeg
Labels: 🚀 feature, imageserver

#496 [FE] Cypress CI를 위한 설정 파일 수정
  frontend/cypress.config.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
Labels: ⚙️ setting, 🧑🏻‍💻 frontend

#485 [BE] 인수테스트에 cucumber를 적용하기 위한 환경을 설정한다.
  backend/build.gradle
  backend/src/test/java/com/woowacourse/gongcheck/cucumber/AcceptanceContext.java
  backend/src/test/java/com/woowacourse/gongcheck/cucumber/AcceptanceSteps.java
  backend/src/test/java/com/woowacourse/gongcheck/cucumber/CucumberIntegrationTest.java
  backend/src/test/java/com/woowacourse/gongcheck/cucumber/steps/GuestAuthStepDefinitions.java
  backend/src/test/resources/features/guestAuth.feature
Labels: ⚙️ setting, 🔦 test, 🧑🏻‍💻 backend

#501 [FE] Cypress E2E 테스트 결과가 PR에 메시지로 보이도록 한다.
  .github/workflows/frontend.yml
  frontend/cypress.config.ts
  frontend/cypress/e2e/guest.cy.js
  frontend/cypress/support/commands.js
  frontend/cypress/support/e2e.js
  frontend/cypress/support/index.d.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/reporter-config.json
Labels: 🚀 feature, 🧑🏻‍💻 frontend

#492 [BE] SonarCloud에서 SonarQube로 전환한다.
  .github/workflows/backend.yml
  backend/build.gradle
Labels: ⚙️ setting, 🧑🏻‍💻 backend, ❤️ refactor

#506 [FE] Cypress DashBoard를 적용한다.
  .github/workflows/frontend.yml
  frontend/cypress.config.ts
  frontend/cypress/e2e/guest.cy.js
  frontend/cypress/support/commands.js
  frontend/package.json
  frontend/reporter-config.json
Labels: 🚀 feature, 🧑🏻‍💻 frontend

#509 [BE] ErrorCode description 메세지를 구체화한다.
  backend/src/main/java/com/woowacourse/gongcheck/exception/ErrorCode.java
Labels: 🧑🏻‍💻 backend, ❤️ refactor

#499 [FE] 체크리스트 올 체크 기능을 구현해야한다.
  frontend/src/apis/task.ts
  frontend/src/hooks/useSectionCheck.ts
  frontend/src/pages/user/TaskList/index.tsx
  frontend/src/pages/user/TaskList/styles.ts
  frontend/src/pages/user/TaskList/useTaskList.tsx
Labels: 🚀 feature, 🖌 UI/UX, 🧑🏻‍💻 frontend

#512 [FE] errorCode를 이용해서 에러 처리를 해야한다.
  frontend/cypress/e2e/guest.cy.js
  frontend/cypress/support/commands.js
  frontend/src/ErrorBoundary/ErrorHostToken.tsx
  frontend/src/ErrorBoundary/ErrorUserTask.tsx
  frontend/src/ErrorBoundary/ErrorUserToken.tsx
  frontend/src/components/host/SectionDetailModal/useSectionDetailModal.ts
  frontend/src/components/host/SpaceInfoCreateBox/useSpaceCreateForm.ts
  frontend/src/components/host/SpaceInfoUpdateBox/useSpaceUpdateForm.ts
  frontend/src/components/user/JobCard/useJobCard.ts
  frontend/src/components/user/NameModal/useNameModal.ts
  frontend/src/constants/errorMessage.ts
  frontend/src/hooks/useImage.ts
  frontend/src/pages/host/JobCreate/useJobCreate.ts
  frontend/src/pages/host/JobUpdate/useJobUpdate.ts
  frontend/src/pages/host/PasswordUpdate/usePasswordUpdate.ts
Labels: 🚀 feature, 🧑🏻‍💻 frontend

#513 [FE] 젠킨스에서 에러나는 테스트 코드 주석처리
  frontend/cypress/e2e/guest.cy.js
Labels: 🔦 test, 🧑🏻‍💻 frontend

#516 [FE] 링크 복사 방식 변경
  frontend/src/pages/host/DashBoard/useDashBoard.tsx
  frontend/src/utils/copy.ts
Labels: 🚀 feature, 🧑🏻‍💻 frontend

#518 [FE] 상황별 로딩환경을 개선한다.
  frontend/src/components/common/Loading/styles.ts
  frontend/src/components/common/LoadingOverlay/index.tsx
  frontend/src/components/common/LoadingOverlay/styles.ts
  frontend/src/components/host/SectionDetailModal/index.tsx
  frontend/src/components/host/SectionDetailModal/useSectionDetailModal.ts
  frontend/src/components/host/SpaceInfoCreateBox/index.tsx
  frontend/src/components/host/SpaceInfoUpdateBox/index.tsx
  frontend/src/hooks/useImage.ts
  frontend/src/pages/host/DashBoard/useDashBoard.tsx
Labels: 🚀 feature, 🧑🏻‍💻 frontend

#522 [ALL] 체크리스트창 api 무한호출을 개선한다.
  backend/src/docs/asciidoc/runningTask.adoc
  backend/src/main/java/com/woowacourse/gongcheck/core/application/SubmissionService.java
  backend/src/main/java/com/woowacourse/gongcheck/core/application/TaskService.java
  backend/src/main/java/com/woowacourse/gongcheck/core/domain/task/RunningTaskSseEmitterContainer.java
  backend/src/main/java/com/woowacourse/gongcheck/core/presentation/TaskController.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/AcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/acceptance/TaskAcceptanceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/core/application/SubmissionServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/core/application/TaskServiceTest.java
  backend/src/test/java/com/woowacourse/gongcheck/core/domain/task/RunningTaskSseEmitterContainerTest.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/TaskDocumentation.java
  frontend/cypress/e2e/guest.cy.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/apis/config.ts
  frontend/src/components/user/NameModal/index.tsx
  frontend/src/components/user/NameModal/useNameModal.ts
  frontend/src/components/user/TaskCard/index.tsx
  frontend/src/hooks/useSectionCheck.ts
  frontend/src/pages/user/TaskList/index.tsx
  frontend/src/pages/user/TaskList/useTaskList.tsx
  frontend/src/types/index.ts
Labels: 🚀 feature, 🧑🏻‍💻 backend, 🧑🏻‍💻 frontend

#525 [BE] 해당 Section의 모든 runningTask를 체크 시 반환값을 전체 RunningTask를 반환하도록 수정한다.
  backend/src/main/java/com/woowacourse/gongcheck/core/application/TaskService.java
Labels: 🚨 bug, 🧑🏻‍💻 backend

#520 [BE] 로깅과 예외 슬랙 알림 메시지를 구체화한다.
  backend/src/main/java/com/woowacourse/gongcheck/core/application/SubmissionService.java
  backend/src/main/java/com/woowacourse/gongcheck/core/application/support/LoggingFormatConverter.java
  backend/src/main/java/com/woowacourse/gongcheck/core/domain/task/RunningTasks.java
  backend/src/main/java/com/woowacourse/gongcheck/core/presentation/filter/RequestContext.java
  backend/src/main/java/com/woowacourse/gongcheck/core/presentation/filter/RequestServletWrappingFilter.java
  backend/src/main/java/com/woowacourse/gongcheck/exception/ControllerAdvice.java
  backend/src/main/java/com/woowacourse/gongcheck/exception/ErrorCode.java
  backend/src/main/java/com/woowacourse/gongcheck/exception/ExceptionMessageGenerator.java
  backend/src/test/java/com/woowacourse/gongcheck/core/application/support/LoggingFormatConverterTest.java
  backend/src/test/java/com/woowacourse/gongcheck/documentation/DocumentationTest.java
Labels: 🧑🏻‍💻 backend, ❤️ refactor

#527 fix: 체크리스트 페이지 리다이렉팅 수정
  frontend/src/pages/user/TaskList/useTaskList.tsx
Labels: 🧑🏻‍💻 frontend, 🔨 fix

#529 [FE] 메인페이지 요구 사항 반영 및 수정
  frontend/src/assets/create.png
  frontend/src/assets/dashboard.png
  frontend/src/assets/edit.png
  frontend/src/assets/edit2.png
  frontend/src/assets/mobileView1.png
  frontend/src/assets/mobileView2.png
  frontend/src/assets/mobileView3.png
  frontend/src/assets/mobileView4.png
  frontend/src/components/common/GitHubLoginButton/index.tsx
  frontend/src/components/common/GitHubLoginButton/styles.ts
  frontend/src/layouts/DefaultLayout/MainPage.tsx
  frontend/src/layouts/DefaultLayout/MainSection.tsx
  frontend/src/layouts/DefaultLayout/index.tsx
  frontend/src/layouts/DefaultLayout/styles.ts
  frontend/src/pages/host/Home/MainSection.tsx
  frontend/src/pages/host/Home/index.tsx
Labels: 🚀 feature, 🖌 UI/UX, 🧑🏻‍💻 frontend

#530 [FE] 메인페이지 사진 변경
  frontend/src/assets/mobileView1.png
  frontend/src/assets/mobileView2.png
  frontend/src/assets/mobileView3.png
  frontend/src/assets/mobileView4.png
  frontend/src/assets/mobileView5.png
  frontend/src/layouts/DefaultLayout/MainPage.tsx
Labels: 🧑🏻‍💻 frontend, 🔨 fix
